<div class="router-child">
    <div class="main">
        <div class="name-parent">
            <div class="name">
                <label *ngIf="(!authService.canModify && !userSerceice.isAdmin) || userSerceice.userType === 1">{{'controls.robot_name.name' | translate}}: <span>{{oldName}}</span></label>
                <app-input [group]="formName" controlName="robot_name" *ngIf="(authService.canModify || userSerceice.isAdmin) && userSerceice.userType !== 1"></app-input>
                <button *ngIf="(authService.canModify || userSerceice.isAdmin) && userSerceice.userType !== 1 && userSerceice.userType !== 2" [disabled]="!isChanged || !isFormGroupNameValid || isLoadingName || !authService.canModify || (userSerceice.isReferee && !userSerceice.isAdmin)"
                    class="submit-button" (click)="onUpdateName()"><i class="las la-save"></i></button>
                <button *ngIf="(authService.canModify || userSerceice.isAdmin) && userSerceice.userType !== 1 && userSerceice.userType !== 2" [disabled]="isLoadingName || !authService.canModify || (userSerceice.isReferee && !userSerceice.isAdmin)" class="submit-button"
                    (click)="onDeleteRobot()"><i class="las la-trash-alt"></i></button>
            </div>
            <div class="name-uuid">
                <span>{{'competitor-zone.robot.uuid' | translate}}</span>
                <a (click)="copyUUID()">{{robotUUID}}</a>
            </div>
        </div>
        <div class="infos" *ngIf="isEvent">
            <section class="referee-categories inline referee-categories-header">
                <label>{{'competitor-zone.competitors.categories' | translate}}</label>
                <button (click)="selectCategory(category)" *ngFor="let category of robotCategories" [ngClass]="{'referee-categories-active': category === selectedCategory}">{{getCategoryName(category)}}</button>
            </section>
            <section class="referee-results" *ngIf="!loadingResults && selectedCategory">
                <div class="referee-results-fights" *ngIf="getCategoryType === 1">
                    <span *ngIf="!getCategoryFigths?.length ">{{'competitor-zone.referee-zone.no-fights' | translate}}</span>
                    <div class="scroll">
                        <!-- <div *ngFor="let fight of getCategoryFigths">
                            <ng-container *ngIf="{open: false} as variable">
                                <div class="referee-results-fights-element" (click)="variable.open = !variable.open">
                                    <span class="referee-results-fights-element-id">{{fight.walka_id}}</span>
                                    <div class="referee-results-fights-element-info referee-results-fights-element-info-1">
                                        <p class="referee-results-fights-element-uuid">{{fight?.robot1_uuid}}</p>
                                        <p class="referee-results-fights-element-name">{{fight.robot1_nazwa ? fight.robot1_nazwa : 'TBA'}}</p>
                                    </div>
                                    <div class="referee-results-fights-element-vs">
                                        <span>vs</span>
                                        <div>
                                            <label [ngClass]="{'referee-results-fights-element-vs-win': fight.wygrane_rundy_robot1 !== null && fight.wygrane_rundy_robot2 !== null && fight.wygrane_rundy_robot1 > fight.wygrane_rundy_robot2, 'referee-results-fights-element-vs-lose': fight.wygrane_rundy_robot1 !== null  && fight.wygrane_rundy_robot2 !== null && fight.wygrane_rundy_robot1 < fight.wygrane_rundy_robot2}">{{fight.wygrane_rundy_robot1 !== null ? fight.wygrane_rundy_robot1 : '?'}}</label>
                                            <label>&nbsp;:&nbsp;</label>
                                            <label [ngClass]="{'referee-results-fights-element-vs-win': fight.wygrane_rundy_robot1 !== null && fight.wygrane_rundy_robot2 !== null && fight.wygrane_rundy_robot1 < fight.wygrane_rundy_robot2, 'referee-results-fights-element-vs-lose': fight.wygrane_rundy_robot1 !== null && fight.wygrane_rundy_robot2 !== null && fight.wygrane_rundy_robot1 > fight.wygrane_rundy_robot2}">{{fight.wygrane_rundy_robot2 !== null ? fight.wygrane_rundy_robot2 : '?'}}</label>
                                        </div>
                                    </div>
                                    <div class="referee-results-fights-element-info referee-results-fights-element-info-2">
                                        <p class="referee-results-fights-element-uuid">{{fight?.robot2_uuid}}</p>
                                        <p class="referee-results-fights-element-name">{{fight.robot2_nazwa ? fight.robot2_nazwa : 'TBA'}}</p>
                                    </div>
                                    <div class="referee-results-fights-element-details">
                                        <div class="referee-results-fights-element-details-flex" *ngIf="variable.open">
                                            <div *ngIf="fight.czas_zakonczenia" class="referee-results-fights-element-details-flex-piece">
                                                <label>{{'competitor-zone.referee-zone.end-time' | translate}}&nbsp;</label>
                                                <label>{{fight.czas_zakonczenia | date: 'HH:mm:ss'}}</label>
                                            </div>
                                            <div *ngIf="fight.nazwa_stanowiska" class="referee-results-fights-element-details-flex-piece">
                                                <label>{{'competitor-zone.referee-zone.position-name' | translate}}&nbsp;</label>
                                                <label>{{fight.nazwa_stanowiska}}</label>
                                            </div>
                                            <div *ngIf="fight.nastepna_walka_id" class="referee-results-fights-element-details-flex-piece">
                                                <label>{{'competitor-zone.referee-zone.next-fight' | translate}}&nbsp;</label>
                                                <label>{{fight.nastepna_walka_id}}</label>
                                            </div>
                                        </div>
                                        <span class="referee-results-fights-element-edit">{{(variable.open ? 'competitor-zone.referee-zone.less' : 'competitor-zone.referee-zone.more') | translate}}<i class="las la-angle-double-down" *ngIf="!variable.open"></i><i class="las la-angle-double-up" *ngIf="variable.open"></i></span>
                                    </div>
                                </div>
                            </ng-container>
                        </div> -->
                        <p class="tree-fight" *ngFor="let fight of getCategoryFigths" [ngClass]="{'tree-fight-tba': fight.robot1_nazwa == null || fight.robot2_nazwa == null, 'tree-fight-win': (fight.robot1_uuid == robotUUID && fight.wygrane_rundy_robot1 != null && fight.wygrane_rundy_robot2 != null && fight.wygrane_rundy_robot1 > fight.wygrane_rundy_robot2) || (fight.robot2_uuid == robotUUID && fight.wygrane_rundy_robot1 != null && fight.wygrane_rundy_robot2 != null && fight.wygrane_rundy_robot1 < fight.wygrane_rundy_robot2), 'tree-fight-lose': (fight.robot1_uuid == robotUUID && fight.wygrane_rundy_robot1 != null && fight.wygrane_rundy_robot2 != null && fight.wygrane_rundy_robot1 < fight.wygrane_rundy_robot2) || (fight.robot2_uuid == robotUUID && fight.wygrane_rundy_robot1 != null && fight.wygrane_rundy_robot2 != null && fight.wygrane_rundy_robot1 > fight.wygrane_rundy_robot2)}">
                            <!-- <ng-container > -->
                            <ng-container>
                                <div class="tree-fight-row">
                                    <a class="tree-fight-id">{{fight.walka_id}}</a>
                                </div>
                                <ng-container>
                                    <!-- && fight.wygrane_rundy_robot1 != null && fight.wygrane_rundy_robot2 != null && fight.wygrane_rundy_robot1 > fight.wygrane_rundy_robot2 -->
                                    <label class="tree-fight-body">
                                      <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': fight ? fight.wygrane_rundy_robot1! > fight.wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': fight ? fight.wygrane_rundy_robot1! < fight.wygrane_rundy_robot2! : false}">{{fight.robot1_nazwa?? "TBA"}}</a>
                                      <a class="tree-fight-body-score tree-fight-body-score-1">{{fight.wygrane_rundy_robot1 != null ? fight.wygrane_rundy_robot1 : "?"}}</a>
                                      :
                                      <a class="tree-fight-body-score tree-fight-body-score-2">{{fight.wygrane_rundy_robot2 != null ? fight.wygrane_rundy_robot2 : "?"}}</a>
                                      <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': fight ? fight.wygrane_rundy_robot1! < fight.wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': fight ? fight.wygrane_rundy_robot1! > fight.wygrane_rundy_robot2! : false}">{{fight.robot2_nazwa ?? "TBA"}}</a>
                                    </label>
                                    <a *ngIf="fight.robot1_nazwa != null && fight.robot2_nazwa != null" class="tree-fight-pos">{{fight.nazwa_stanowiska}}</a>
                                </ng-container>
                            </ng-container>
                        </p>
                    </div>
                </div>

                <div class="referee-results-times" *ngIf="getCategoryType === 0 || getCategoryType === 2">
                    <span *ngIf="!getCategoryTimesResult?.length">{{'competitor-zone.referee-zone.no-results' | translate}}</span>
                    <div class="scroll">
                        <div *ngFor="let time of getCategoryTimesResult">
                            <ng-container *ngIf="{open: false} as variable">
                                <div class="referee-results-times-element" (click)="variable.open = !variable.open">
                                    <span class="referee-results-times-element-id">{{time.wynik_id}}</span>
                                    <div class="referee-results-times-element-info">
                                        <p class="referee-results-times-element-uuid">{{time.robot_uuid}}</p>
                                        <p class="referee-results-times-element-name">{{time.nazwa_robota}}</p>
                                    </div>

                                    <div class="referee-results-times-element-categories">
                                        <p>{{getCategoryType !== 2 ? time.czas_przejazdu/1000 : time.czas_przejazdu}} {{(getCategoryType === 2 ? 'competitor-zone.referee-zone.pts' : 's') | translate}}</p>
                                    </div>
                                    <div class="referee-results-fights-element-details">
                                        <div class="referee-results-fights-element-details-flex" *ngIf="variable.open">
                                            <div *ngIf="time.czas_zakonczenia" class="referee-results-fights-element-details-flex-piece">
                                                <label>{{'competitor-zone.referee-zone.end-time' | translate}}&nbsp;</label>
                                                <label>{{time.czas_zakonczenia | date: 'HH:mm:ss'}}</label>
                                            </div>
                                            <div *ngIf="time.nazwa_stanowiska" class="referee-results-fights-element-details-flex-piece">
                                                <label>{{'competitor-zone.referee-zone.position-name' | translate}}&nbsp;</label>
                                                <label>{{time.nazwa_stanowiska}}</label>
                                            </div>
                                        </div>
                                        <span class="referee-results-fights-element-edit">{{(variable.open ? 'competitor-zone.referee-zone.less' : 'competitor-zone.referee-zone.more') | translate}}<i class="las la-angle-double-down" *ngIf="!variable.open"></i><i class="las la-angle-double-up" *ngIf="variable.open"></i></span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <div class="grid">
            <div class="grid-categories">
                <span>{{'competitor-zone.robot.categories' | translate}}</span>
                <div class="grid-categories-new" *ngIf="((canAddCategory && authService.canModify && userSerceice.isUser) || userSerceice.isAdmin) && userSerceice.userType !== 1">
                    <app-select *ngIf="categoriesOptions !== undefined && canAddCategory && !isLoadingCategories" [group]="formCategory" [collapsed]="true" controlName="category" translatePrefix="competitor-zone.robot" [options]="categoriesOptions"></app-select>
                    <app-spinner *ngIf="categoriesOptions === undefined || isLoadingCategories"></app-spinner>
                    <button [disabled]="!isFormGroupCategoryValid || isLoadingCategories || !authService.canModify" class="submit-button grid-button" (click)="onAddCategory()"><i class="las la-plus-circle"></i></button>
                </div>
                <div class="grid-categories-old-parent">
                    <a *ngIf="!canAddCategory && !isLoadingCategories && categoriesOptions !== undefined && userSerceice.userType < 1">{{'competitor-zone.robot.too-many-categories' | translate}}</a>
                    <div *ngFor="let cat of robotCategories" class="grid-categories-old">
                        <div>
                            <i class="las la-chevron-right"></i>
                            <label>{{getCategoryName(cat)}}</label>
                        </div>
                        <button [disabled]="isLoadingCategories || !canDeleteCategory || !authService.canModify" *ngIf="((authService.canModify && userSerceice.isUser) || userSerceice.isAdmin) && userSerceice.userType !== 1" class="submit-button grid-button" (click)="onRemoveCategory(cat)"><i class="las la-trash-alt"></i></button>

                    </div>
                </div>
            </div>

            <div class="grid-constructors">
                <span>{{'competitor-zone.robot.constructors' | translate}}</span>
                <div class="grid-categories-new" *ngIf="((authService.canModify && userSerceice.isUser) || userSerceice.isAdmin) && userSerceice.userType !== 1">
                    <div class="grid-constructors-div">
                        <app-input *ngIf="!isLoadingConstructors" [group]="formConstructor" controlName="constructor_uuid" [collapsed]="true"></app-input>
                        <a *ngIf="nameFormEmpty">{{'competitor-zone.robot.constructors-info' | translate}}</a>
                    </div>
                    <button [disabled]="!isFormGroupConstructorValid || isLoadingConstructors" class="submit-button grid-button" (click)="onAddConstructor()"><i class="las la-plus-circle"></i></button>
                </div>
                <app-spinner *ngIf="isLoadingConstructors"></app-spinner>
                <div class="grid-categories-old-parent">
                    <div *ngFor="let constructor of robotConstructors" class="grid-categories-old grid-constructors-user-parent" (click)="openUserDetails(constructor.uzytkownik_uuid)" [ngClass]="{'grid-constructors-user-parent-clickable': userSerceice.isReferee}">
                        <div>
                            <i class="las la-chevron-left"></i>
                            <div class="grid-constructors-user">
                                <label [ngClass]="{'grid-constructors-user-this': userUUID === constructor.uzytkownik_uuid}">{{constructor.imie}} {{constructor.nazwisko}}</label>
                                <p>{{constructor.uzytkownik_uuid}}</p>
                                <details *ngIf="userSerceice.isReferee && constructor.numer_telefonu">TEL: {{constructor.numer_telefonu}}</details>
                            </div>
                        </div>
                        <button *ngIf="((authService.canModify && userSerceice.isUser) || userSerceice.isAdmin) && userSerceice.userType !== 1" [disabled]="isLoadingConstructors || !canDeleteConstructor" class="submit-button grid-button" (click)="onDeleteConstructor(constructor.konstruktor_id)"><i class="las la-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <section class="acceptation" *ngIf="authService.isAfterRegistration">
            <p>{{"competitor-zone.robot.acceptation-status" | translate}}:
                <span class="acceptation-true" *ngIf="!authService.isWaitingForRobotAcceptation && (!robot?.powod_odrzucenia ?? false)">{{"competitor-zone.robot.acceptation-true" | translate}}</span>
                <span class="acceptation-false" style="color: red;" *ngIf="robot?.powod_odrzucenia ?? false">{{"competitor-zone.robot.acceptation-false" | translate}}</span>
                <span class="acceptation-waiting" *ngIf="authService.isWaitingForRobotAcceptation && (!robot?.powod_odrzucenia ?? false)">{{"competitor-zone.robot.acceptation-waiting" | translate}}</span>
            </p>
            <p *ngIf="robot?.powod_odrzucenia">{{"controls.reason.name" | translate}}:
                <span>{{robot?.powod_odrzucenia}}</span>
            </p>
            <div class="row acceptation-row" *ngIf="userSerceice.isAdmin">
                <app-input [group]="formAcceptation" controlName="reason"></app-input>
                <button class="submit-button" [disabled]="!isFormGroupAcceptationValid" (click)="onSaveReason()"><i class="las la-save"></i></button>
            </div>
        </section>
        <section class="acceptation arrival" *ngIf="robot && isEvent && !robot.powod_odrzucenia">
            <div class="row acceptation-row">
                <p>{{"competitor-zone.robot.is-arrived" | translate}}
                    <span class="arrival-true" *ngIf="robot?.czy_dotarl == 1">{{"competitor-zone.robot.is-arrived-true" | translate}}</span>
                    <span class="arrival-false" style="color: red;" *ngIf="robot?.czy_dotarl == 0">{{"competitor-zone.robot.is-arrived-false" | translate}}</span>
                </p>
                <ng-container *ngIf="userSerceice.isReferee">
                    <button class="submit-button" [disabled]="robot?.czy_dotarl == 1" (click)="confirmArrival(true, $event)"><i class="las la-plane-arrival"></i></button>
                    <button class="submit-button arrival-button" [disabled]="robot?.czy_dotarl == 0" (click)="confirmArrival(false, $event)"><i class="las la-plane-departure"></i></button>
                </ng-container>
            </div>
        </section>
        <section class="documentation">
            <div>
                <div class="row" *ngIf="!isLoadingDocumentation && !isEditingDocumentation">
                    <label *ngIf="robotDocumentation">{{'competitor-zone.robot.documentation-uploaded' | translate}}</label>
                    <div class="column" *ngIf="!robotDocumentation">
                        <label>{{'competitor-zone.robot.documentation-not-uploaded' | translate}}</label>
                        <a *ngIf="authService.canSendDocumetation">{{'competitor-zone.robot.documentation-find-info' | translate}}</a>
                    </div>
                    <button *ngIf="((authService.canSendDocumetation && userSerceice.isUser) || userSerceice.isAdmin)" [disabled]="!authService.canSendDocumetation && !userSerceice.isAdmin" class="submit-button" (click)="isEditingDocumentation=true"><i class="las la-edit"></i></button>
                    <button *ngIf="robotDocumentation" [disabled]="!robotDocumentation" class="submit-button" (click)="onDownloadDocumentation()"><i class="las la-file-download"></i></button>
                </div>
                <div class="row" *ngIf="!isLoadingDocumentation && isEditingDocumentation">
                    <div class="column">
                        <app-input-file accept=".pdf,.docx,.doc" [group]="formDocumentation" controlName="documentation" (file)="setDocumentationFile($event)"></app-input-file>
                        <a>{{'competitor-zone.robot.documentation-format-info' | translate}}</a>
                    </div>
                    <button *ngIf="((authService.canSendDocumetation && userSerceice.isUser) || userSerceice.isAdmin) && userSerceice.userType !== 1" [disabled]="!isFormGroupDocumentationValid || isLoadingDocumentation" class="submit-button" (click)="onSendDocumentation()"><i class="las la-save"></i></button>
                </div>
            </div>
            <app-spinner *ngIf="isLoadingDocumentation"></app-spinner>
        </section>
        <section class="documentation" *ngIf="isSmashBot || isFreestyle || isTaskHunters">


            <div>
                <div class="row" *ngIf="!loadingMovie && !isEditingMovie">
                    <label *ngIf="robotFilm">{{'competitor-zone.robot.film-uploaded' | translate}}</label>
                    <label *ngIf="!robotFilm">{{'competitor-zone.robot.film-not-uploaded' | translate}}</label>
                    <button *ngIf="((authService.canSendDocumetation && userSerceice.isUser) || userSerceice.isAdmin)" [disabled]="!authService.canSendDocumetation && !userSerceice.isAdmin" class="submit-button" (click)="isEditingMovie=true"><i class="las la-edit"></i></button>
                    <button *ngIf="robotFilm" [disabled]="!robotFilm" class="submit-button" (click)="onOpenMovie()"><i class="las la-external-link-alt"></i></button>
                </div>
                <div class="row" *ngIf="!loadingMovie && isEditingMovie">
                    <div class="column">
                        <app-input [group]="formMovie" controlName="movie"></app-input>
                        <a>{{'competitor-zone.robot.film-format-info' | translate}}</a>
                    </div>
                    <button *ngIf="((authService.canSendDocumetation && userSerceice.isUser) || userSerceice.isAdmin) && userSerceice.userType !== 1" [disabled]="!isFormGroupMovieValid || loadingMovie" class="submit-button" (click)="onAddRobotMovie()"><i class="las la-save"></i></button>
                </div>
            </div>
            <app-spinner *ngIf="loadingMovie"></app-spinner>
        </section>
    </div>
</div>
