@import '../../../../scss/colors';
@import '../../../../scss/variables';
@import '../../../competitor-zone.component.scss';
@import '../../../referee/referee-zone/referee-zone.component.scss';
.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    section {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        // justify-content: ;
        padding: 2rem;
        border-top: .2rem dashed rgba($color-grey-0, 0.5);
        a {
            color: $color-grey-0;
            padding: .5rem;
            font-size: 1.2rem;
        }
        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            app-input-file {
                min-height: 8rem;
                width: 100%;
                padding: 0rem !important;
                height: 1rem;
            }
            label {
                width: 100%;
                font-size: 2rem;
            }
            button {
                &,
                &:link,
                &:visited {
                    height: 5.5rem;
                    width: min-content !important;
                    margin: 1rem;
                    padding: 1.8rem;
                    line-height: .2rem !important;
                    border-radius: 1rem !important;
                    // box-shadow: 0 0.2rem 2rem rgba($color-primary, 0.5);
                    font-size: 2.3rem !important;
                }
                &:hover:not(:disabled):not(:last-child) {
                    box-shadow: 0 0.2rem 2.3rem rgba($color-primary, 0.7);
                }
                i {
                    font-size: 3.5rem;
                    padding: 0 !important;
                    margin: 0 !important;
                    line-height: 1.5rem !important;
                }
            }
        }
    }
}

.infos {
    margin-top: 1rem;
    height: 100%;
    height: min-content;
}

.referee-results-times-element-categories {
    justify-content: flex-end;
}

.name {
    height: min-content;
    padding: 2rem 2rem 2rem .5rem;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    label {
        padding: 1rem;
        padding-left: 3rem;
        line-height: 3rem;
        font-size: 3rem;
        color: $color-grey-0;
        span {
            font-size: 3.5rem;
            color: $color-white;
            font-family: $title-font;
        }
    }
    app-input {
        min-height: 8rem;
        width: 100%;
        padding: 0rem !important;
        height: 1rem;
    }
    h1 {
        z-index: 4rem;
        color: white;
        justify-self: center;
        align-self: center;
        grid-column: 1;
        grid-row: 1;
        font-family: $title-font;
        font-size: 3.5rem;
    }
    &-parent {
        height: min-content;
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        width: 100%;
        border-bottom: .2rem dashed rgba($color-grey-0, 0.5);
    }
    &-uuid {
        transform: translateY(-1rem);
        padding-left: 3.5rem;
        height: 1.5rem;
        // line-height: -3rem;
        // padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        cursor: pointer;
        span {
            letter-spacing: .2rem;
            font-size: 1.5rem;
            color: $color-grey-0;
            padding-right: 2.5rem;
        }
        a {
            font-size: 2.2rem;
            font-weight: bold;
            font-family: $title-font;
            color: $color-primary;
        }
    }
    button {
        &:last-child {
            background: linear-gradient(rgb(224, 39, 39), rgb(207, 22, 22)) !important;
            color: white;
            box-shadow: 0 0.2rem 2.3rem rgba(rgb(207, 22, 22), 0.7);
            &:hover {
                box-shadow: 0 0.2rem 3rem rgba(rgb(255, 0, 0), 1);
            }
            &:disabled {
                box-shadow: none
            }
        }
        &,
        &:link,
        &:visited {
            height: 5.5rem;
            width: min-content !important;
            margin: 1rem;
            padding: 1.8rem;
            line-height: .2rem !important;
            border-radius: 1rem !important;
            // box-shadow: 0 0.2rem 2rem rgba($color-primary, 0.5);
            font-size: 2.3rem !important;
        }
        &:hover:not(:disabled):not(:last-child) {
            box-shadow: 0 0.2rem 2.3rem rgba($color-primary, 0.7);
        }
        i {
            font-size: 3.5rem;
            padding: 0 !important;
            margin: 0 !important;
            line-height: 1.5rem !important;
        }
    }
}

@media only screen and (max-width: $max-width-2) {
    .name {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        flex-direction: column;
        app-input {
            grid-row: 1;
            grid-column: 1/3;
            min-height: 9rem;
        }
        button {
            justify-self: center;
            align-self: center;
            min-width: 90%;
            &:first-child {
                grid-row: 2;
                grid-column: 1;
            }
            &:last-child {
                grid-row: 2;
                grid-column: 2;
            }
        }
        &-uuid {
            transform: translateY(-2.5rem);
            padding: 0;
            height: min-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left;
            span {
                font-size: 1.8rem;
            }
            a {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: min-content;
    max-width: 100%;
    padding: 3rem 2.5rem;
    // padding-top: 3.2rem;
    column-gap: 5rem;
    &-button {
        height: 5.5rem !important;
        width: 5.5rem !important;
        border-radius: 2rem;
        padding: 1rem;
        // line-height: 1rem;
        margin: 0rem;
        margin-top: 1rem;
        font-size: 3rem;
    }
    span {
        text-transform: capitalize;
        width: 100%;
        height: min-content;
        justify-self: center;
        text-align: center;
        font-size: 2.2rem;
        border-radius: 2rem;
        box-shadow: 1rem 1rem 2rem #202020ca, -1rem -1rem 2rem #2a2a2a98;
        background: $color-grey-2;
        border-left: 3px dotted $color-primary;
        border-right: 3px dotted $color-primary;
        border-top: 1px dotted $color-grey-2;
        // border-bottom: 2px solid $color-grey-2;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 1rem;
    }
    &-categories {
        span {
            padding: 1rem;
        }
        min-height: 35rem;
        height: max-content;
        box-shadow: 1.5rem 1.5rem 2rem $color-grey-4,
        -1.5rem -1.5rem 2rem rgba($color-grey-0, 0.1),
        inset 1.5rem 1.5rem 2rem $color-grey-4,
        inset -1.5rem -1.5rem 2rem rgba($color-grey-0, 0.1);
        border-radius: 3rem;
        grid-column: 1;
        grid-row: 1;
        border-right: 1px dashed $color-grey-4;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1.2rem;
        a {
            color: $color-grey-0;
            width: 90%;
            word-wrap: normal;
            font-size: 1.2rem;
            text-align: center;
        }
        &-new {
            width: 90%;
            display: flex;
            flex-direction: row;
            height: min-content;
            justify-content: space-between;
            align-items: flex-start;
            // border-bottom: .2rem dashed rgba($color-grey-0, 0.5);
            margin-bottom: 1rem;
            &>div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                a {
                    height: min-content;
                    direction: ltr;
                    font-family: $default-font;
                    font-size: 1.2rem;
                    color: $color-grey-0;
                    text-align: right;
                    width: 100%;
                    padding: 0rem 5rem 1rem 0rem;
                }
            }
            app-select {
                width: 90% !important;
                padding-right: 2rem;
            }
            app-input {
                width: 90% !important;
                padding-left: 2rem;
                direction: ltr;
            }
        }
        &-old {
            width: 90%;
            padding: .5rem 0;
            display: flex;
            flex-direction: row;
            height: min-content;
            justify-content: space-between;
            align-items: center;
            &-parent {
                display: flex;
                flex-direction: column;
                height: max-content;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
                overflow-y: auto;
            }
            &:hover>div {
                transform: translateX(3rem);
            }
            // border-bottom: .2rem dashed rgba($color-grey-0, 0.5);
            div {
                min-height: 6.5rem;
                z-index: 1;
                transition: all .5s ease-out;
                i {
                    color: $color-primary;
                    font-size: 1.8rem;
                    padding-right: 1rem;
                }
                display: flex;
                flex-direction: row;
                height: min-content;
                justify-content: flex-start;
                align-items: center;
            }
            label {
                font-size: 2.1rem;
            }
            button {
                z-index: 2;
                margin: 1rem 0;
                background: linear-gradient(rgb(224, 39, 39), rgb(207, 22, 22)) !important;
                color: white;
                box-shadow: 0 0.2rem 2rem rgba(rgb(207, 22, 22), 0.7);
                &:hover {
                    box-shadow: 0 0.2rem 2.6rem rgba(rgb(255, 0, 0), 1);
                }
                &:disabled {
                    box-shadow: none
                }
            }
        }
    }
    &-constructors {
        span {
            padding: 1rem;
        }
        // min-height: 35rem;
        height: 100%;
        box-shadow: 1.5rem 1.5rem 2rem $color-grey-4,
        -1.5rem -1.5rem 2rem rgba($color-grey-0, 0.1),
        inset 1.5rem 1.5rem 2rem $color-grey-4,
        inset -1.5rem -1.5rem 2rem rgba($color-grey-0, 0.1);
        border-radius: 3rem;
        grid-column: 2;
        grid-row: 1;
        border-left: 1px dashed $color-grey-4;
        display: flex;
        align-items: center;
        flex-direction: column;
        direction: rtl;
        padding: 1.2rem;
        &-user {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: flex-start !important;
            &-this {
                font-weight: bold;
            }
            p {
                min-width: 30rem;
                text-align: right;
                font-size: 1rem;
                color: $color-primary;
            }
            &-parent {
                div>i {
                    padding-right: 0;
                    padding-left: 1rem;
                }
                &:hover>div {
                    transform: translateX(-3rem);
                }
                &-clickable {
                    * {
                        cursor: pointer !important;
                    }
                }
            }
            details {
                font-size: 1.3rem;
                color: rgba($color-white, 0.7)
            }
        }
    }
}

@media only screen and (max-width: $max-width-2) {
    .grid {
        padding: 0;
        display: flex;
        flex-direction: column;
        &-categories {
            height: max-content;
            max-height: max-content;
            margin-top: 1.5rem;
            border-radius: 0;
            box-shadow: none;
            border-bottom: .2rem dashed rgba($color-grey-0, 0.5);
            &-new {
                width: 100%;
                flex-direction: column;
                button {
                    width: 100% !important;
                    transform: translateY(-1.5rem);
                }
                app-select {
                    width: 100% !important;
                    padding: 0 !important;
                }
            }
            &-old {
                min-height: max-content;
                &-parent {
                    min-height: max-content;
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &-constructors {
            height: max-content;
            max-height: max-content;
            margin-top: 1.5rem;
            box-shadow: none;
            border-radius: 0;
            border-bottom: .2rem dashed rgba($color-grey-0, 0.5);
            &-div {
                width: 100% !important;
                padding: 0 !important;
                app-input {
                    min-width: none;
                    width: 100% !important;
                    padding: 0 !important;
                }
                a {
                    padding-right: 0 !important;
                    font-size: 1.5rem;
                }
            }
            &-user {
                p {
                    min-width: min-content;
                    max-width: max-content;
                    width: max-content;
                }
                &-parent {
                    width: 100% !important;
                    // button
                }
            }
        }
    }
}