<div class="container">
    <section class="beginning">
        <img src="../../assets/svg/partner-baner.svg" alt="logo XChallenge">
        <p class="beginning-description">
            Tworząc zawody XChallenge zastanawialiśmy się jak pokazać przedsiębiorstwom, że strefa biznesu ma wiele wspólnego z przestrzenią, którą tworzymy podczas realizacji naszych zawodów. By zrozumieć dlaczego wychodzimy do Państwa z propozycją współpracy, należy
            pierwsze zrozumieć kim są uczestnicy naszych zawodów i dlaczego to właśnie oni są kluczem do sukcesu obydwu ze stron – zarówno firm, które patronują temu przedsięwzięciu jak i naszym tj. organizatorów. Jak udowodnić, że osoby biorące udział
            w zawodach to nie (tylko) „szaleńcy robotyczni” nastawieni na zwycięstwo ale osoby posiadające pasje, zaangażowanie i łączące w sobie wyspecjalizowane umiejętności twarde z umiejętnościami miękkimi? Warto przy tym odpowiedzieć sobie na pytanie
            jakie cechy powinien posiadać „pracownik idealny”?
        </p>
        <p>
            Zobacz ofertę w <a href="../../assets/pdf/oferta25.pdf">PDF</a>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/znCBsUgVA2w?si=3Lhz_ZkOnCdX7zlZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <img src="../../assets/svg/hashtags.svg" alt="logo XChallenge">
        
    </section>
   <!-- <section class="categories">
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Task Hunters</h2>
                <p>Kategoria ta opiera się na wykonaniu przez robota (o rozmiarach 100x50x50 cm i wadze max. 50kg) szeregu określonych zadań na specjalnie przygotowanej arenie. TH to konkurencja, w której drużyny muszą wykazać zarówno kompetencje przyszłości
                    jak i umiejętności miękkie by wykonać dedykowany etap. Co roku TH przybiera nową tematykę wokół której przebiega narracja zawodów. W 2023 roku odbędzie się już jej druga edycja.</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Smash bots</h2>
                <p>SmashBots to walki masywnych robotów wzorowane na amerykańskim hicie BattleBots, gdzie zdalnie sterowane roboty walczą wykorzystując różnego rodzaju uzbrojenie zaczynając od tarcz, pilarek po miotacze płomieni. Konkurencja odbywa się w
                    specjalnie zaprojektowanej arenie, która zabezpieczona jest przed wszelkiego rodzaju uszkodzeniami.</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Freestyle</h2>
                <p>Specyficzne, nieszablonowe konstrukcje robotyczne zaczynając od niewielkich projektów po duże roboty o szerokim spectrum zastosowania. Konkurencja pozostawiająca zawodnikom całkowitą dowolność przedstawianych projektów.
                </p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Line follower</h2>
                <p>Autorskie roboty autonomiczne wyposażone w szereg czujników mające za zadanie pokonać w jak najkrótszym czasie wyznaczoną trasę o zróżnicowanych poziomach trudności – czy to jazda po linii bez przeszkód czy poruszanie się robota po suficie
                    areny.
                </p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Cebula house</h2>
                <p>– Jedyna taka konkurencja w Polsce. Autonomiczne, opracowane ściśle przez autorów roboty o dowolnym rozmiarze i wadze muszę zebrać odpowiednią ilość cebul z planszy i dostarczyć je do bazy. Zadanie jest utrudnione poprzez różne warzywa
                    i owoce znajdujące się na planszy.</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Sumo</h2>
                <p>Konkurencje polegające na wypchnięciu przeciwnika poza zdefiniowany obszar walki w zależności od rozmiaru i wagi przez autonomiczne roboty typu Sumo.</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Lego tug of war</h2>
                <p>specjalne, skomplikowane konstrukcje wymagające dużej wiedzy z zakresu mechatroniki i umiejętności wyciągnięcia z robota jak najwięcej. W tej konkurencji 1 gram wagi potrafi zrobić różnicę.</p>
            </div>
        </div>
    </section>-->
    <section class="comparision">
        <h2>Porównanie pakietów</h2>
        <table class="comparision-table">

            <tr class="comparision-table-row">
                <td class="comparision-table-row-main">Partner Tytularny</td>
                <td class="comparision-table-row-price">70000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-diamond">Partner Strategiczny</td>
                <td class="comparision-table-row-price">30000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-gold">Partner Główny</td>
                <td class="comparision-table-row-price">10000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-silver">Partner Wspierający</td>
                <td class="comparision-table-row-price">5000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-bronze">Partner</td>
                <td class="comparision-table-row-price">2500 PLN</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>Kwoty netto</p>
                </td>
            </tr>

        </table>
        <div class="comparision-table2-container">

            <table class="comparision-table2">
                <tbody>
                    <tr>
                        <th class="comparision-table2-name"><span>Temat</span></th>
                        <th class="comparision-table2-partner comparision-table-row-main">Partner Tytularny</th>
                        <th class="comparision-table2-partner comparision-table-row-diamond">Partner Strategiczny</th>
                        <th class="comparision-table2-partner comparision-table-row-gold">Partner Główny</th>
                        <th class="comparision-table2-partner comparision-table-row-silver">Partner Wspierający</th>
                        <th class="comparision-table2-partner comparision-table-row-bronze">Partner</th>
                    </tr>
                    <tr>
                        <td>Facebook - posty</td>
                        <td class="comparision-table-row-main">5 szt.</td>
                        <td class="comparision-table-row-diamond">3 szt.</td>
                        <td class="comparision-table-row-gold">2 szt.</td>
                        <td class="comparision-table-row-silver">1 szt.</td>
                        <td class="comparision-table-row-bronze">1 szt.</td>
                    </tr>
                    <tr>
                        <td>Instagram - posty</td>
                        <td class="comparision-table-row-main">5 szt.</td>
                        <td class="comparision-table-row-diamond">3 szt.</td>
                        <td class="comparision-table-row-gold">2 szt.</td>
                        <td class="comparision-table-row-silver">1 szt.</td>
                        <td class="comparision-table-row-bronze">1 szt.</td>
                    </tr>
                    <tr>
                        <td>Logo na grafice opublikowanej w kanałach social media organizatorów (XChallenge)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logotyp na stronie www</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Ekspozycja nośników reklamowych na terenie i w pobliżu obiektu</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo w filmie podsumowującym na planszach na końcu filmu</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Możliwość organizacji strefy/stoiska partnera w trakcie wydarzenia</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Youtube</td>
                        <td class="comparision-table-row-main">1 (wspólny)</td>
                        <td class="comparision-table-row-diamond">1 (wspólny)</td>
                        <td class="comparision-table-row-gold">1 (wspólny)</td>
                        <td class="comparision-table-row-silver">1 (wspólny)</td>
                    </tr>
                    <tr>
                        <td>Ekspozycja nośników reklamowych w widocznym miejscu zawodów</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Wymienienie nazwy partnera przez konferansjera na wydarzeniu</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze na stronie www Politechniki Rzeszowskiej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na nośnikach multimedialnych dostępnych na terenie obiektu</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na identyfikatorach</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Możliwość dołączenia gadżetów/ulotek do starterpacków dla uczestników</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo partnera w filmie zapraszającym, wyświetlanym w autobusach ZTM Rzeszów</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo w filmie podsumowującym na planszach na początku filmu</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo w mailingu do uczestników przed i po wydarzeniu (informator PDF)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze w mailingu z najważniejszymi informacjami dla zawodników</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na wybranych ringach ROBO~motion</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na grafice opublikowanej w kanałach social media organizatorów (ROBO~motion, RoboLAB)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na grafice opublikowanej w kanałach social media organizatorów (Dolina Wiedzy, DUT, RzIT)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo wyświetlane na telewizorach TV student na Politechnice Rzeszowskiej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na ściance prasowej umieszczonej na miejscu wydarzenia</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Informacja o partnerze w mailingu do pracowników i studentów Politechniki Rzeszowskiej (ponad 10 000 odbiorców)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na wybranych arenach ROBO~motion (*1)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Informacja o partnerze w materiałach opublikowanych na stronie www Politechniki Rzeszowskiej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Wymienienie nazwy partnera w trakcie spotu reklamowego w stacji radiowej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na ściance/ekranie na scenie podczas wydarzenia</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na telebimach w Rzeszowie</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Ekspozycja nośników reklamowych przed głównym wejściem na wydarzenie</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Mail z informacją o partnerze do odbiorców bazy DUT (5000 odbiorców)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Możliwość udziału przedstawiciela partnera jako mentora/jurora</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Wyłączny patronat nad wybraną konkurencją ROBO~motion (*2)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Wyłączny patronat nad wybraną konkurencją Smash Bots</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Udział przedstawiciela w konfernecji prasowej przed wydarzeniem</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logo na smyczy do identyfikatora</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Możliwość deklaracji nagród rzeczowych i finansowych dla uczestników (branding na czeku)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Możliwość przedstawienia autorskiego zadania z nagrodą według własnych kryteriów Partnera</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Wymienienie nazwy partnera w trakcie audycji radiowej i telewizyjnej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Wywiad z przedstawicielem partnera opublikowanym na social mediach XChallenge</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Indywidualna koncepcja promocji partnera</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze w TV</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="comparision-table2-sups">
            <p><sup>1</sup> Jeśli konkurencja nie jest objęta Patronatem</p>
            <p><sup>2</sup> Duży logotyp na arenie objętej Patronatem</p>
        </div>
    </section>
    <section class="trusted">
        <img class="trusted-arrow" src="../../assets/svg/partner-arrow.svg" alt="arrow">
        <div class="trusted-partners">
            <img src="../../assets/jpg/edocs.png">
            <img src="../../assets/jpg/beckhoff.jpg">
            <img src="../../assets/jpg/borg.png">
            <img src="../../assets/jpg/cobot.png">
            <img src="../../assets/svg/deloitte.svg">
            <img src="../../assets/jpg/autopart.png">
            <img src="../../assets/jpg/elektrolift.png">
            <img src="../../assets/jpg/es.png">
            <img src="../../assets/jpg/magnezyty.png">
            <img src="../../assets/jpg/fanuc.png">
            <img src="../../assets/jpg/huawei.png">
            <img src="../../assets/jpg/infosoft.png">
            <img src="../../assets/jpg/astor.png">
            <img src="../../assets/jpg/kronospan.png">
            <img src="../../assets/jpg/mtu.png">
            <img src="../../assets/jpg/ont.png">
            <img src="../../assets/jpg/pci.png">
            <img src="../../assets/jpg/toltech.png">
            <img src="../../assets/jpg/izba.png">
            <img src="../../assets/jpg/podkarpackie.png">
            <img src="../../assets/jpg/pratt.png">
            <img src="../../assets/jpg/rzeszow_stolica_white.png">
            <img src="../../assets/jpg/sedziszow.png">
            <img src="../../assets/jpg/sep.gif">
            <img src="../../assets/jpg/solvera.png">
            <img src="../../assets/jpg/tme.png">
            <img src="../../assets/jpg/ale-primary-logo-white.png">
            <img src="../../assets/svg/wago.png">
        </div>
        <h2>Patronat medialny</h2>
        <div class="trusted-partners">
            <img src="../../assets/svg/forbot.svg">
            <img src="../../assets/jpg/botland.webp">
            <img src="../../assets/jpg/salamon.png">
            <img src="../../assets/jpg/tvp.jpg">
            <img src="../../assets/jpg/kurier.jpg">

        </div>
        <h2>Patronat honorowy</h2>
        <div class="trusted-partners">
            <img src="../../assets/jpg/minister_edukacji.jpg">
            <img src="../../assets/jpg/mrit.png">
            <img src="../../assets/jpg/logo_woj_pod.jpg">
            <img src="../../assets/jpg/marszalek.png">
            <img src="../../assets/jpg/rzeszow.png">
            <img src="../../assets/jpg/kuratorium.png">

        </div>
    </section>
    <section class="contact">
        <div style="display: flex; flex-direction: row;  width: 100%;">
            <img src="../../assets/svg/dashes.svg" alt="dashes">
        </div>

        <div class="contact-details">

            <p>Skontaktuj się z nami aby poznać możliwości dla swojej firmy</p>
            <div>
                <img src="../../assets/svg/partner-lukasz.svg" alt="lukasz">
                <img src="../../assets/svg/partner-mateusz.svg" alt="mateusz">
            </div>
        </div>

        <div style="display: flex; flex-direction: row-reverse;width: 100%">
            <img src="../../assets/svg/dashes.svg" alt="dashes">
        </div>
    </section>
    <a href="https://xchallenge.pl/" class="back"><img src="../../assets/svg/partner-go-home.svg"></a>
</div>