<div class="container">
    <section class="beginning">
        <img src="../../assets/svg/partner-baner.svg" alt="logo XChallenge">
        <p class="beginning-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis justo nec, feugiat
            velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc
            dapibus. Phasellus eget lectus lobortis, mollis justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet
            nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.
        </p>
        <iframe src="https://www.youtube.com/embed/0EYLVBSzjM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay muted loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <img src="../../assets/svg/hashtags.svg" alt="logo XChallenge">
    </section>
    <section class="categories">
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Task Hunters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Smash bots</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Freestyle</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Line follower</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Cebula house</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Sumo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay muted loop></video>
            <div class="categories-category-side">
                <h2>Lego tug of war</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
    </section>
    <section class="comparision">
        <h2>Porównanie pakietów</h2>
        <table class="comparision-table">

            <tr class="comparision-table-row">
                <td class="comparision-table-row-main">Partner Główny</td>
                <td class="comparision-table-row-price">50000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-diamond">Partner Diamentowy</td>
                <td class="comparision-table-row-price">30000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-gold">Partner Złoty</td>
                <td class="comparision-table-row-price">10000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-silver">Partner Srebrny</td>
                <td class="comparision-table-row-price">5000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-bronze">Partner Brązowy</td>
                <td class="comparision-table-row-price">2500 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-medial">Partner Medialny</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>Kwoty netto</p>
                </td>
            </tr>

        </table>
        <div class="comparision-table2-container">

            <table class="comparision-table2">
                <tbody>
                    <tr>
                        <th class="comparision-table2-name"><span>Temat</span></th>
                        <th class="comparision-table2-partner comparision-table-row-main">Partner Główny</th>
                        <th class="comparision-table2-partner comparision-table-row-diamond">Partner Diamentowy</th>
                        <th class="comparision-table2-partner comparision-table-row-gold">Partner Złoty</th>
                        <th class="comparision-table2-partner comparision-table-row-silver">Partner Srebrny</th>
                        <th class="comparision-table2-partner comparision-table-row-bronze">Partner Brązowy</th>
                        <th class="comparision-table2-partner comparision-table-row-medial">Partner Medialny</th>
                    </tr>
                    <tr>
                        <td>Media społecznościowe (Facebook, Instagram, YouTube)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logotyp na stronie internetowej wydarzenia</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logotyp na identyfikatorze</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Wystawienie rollupa w głównym holu budynku</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Logotyp na końcu materiału filmowego po wydarzeniu</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Możliwość umieszczenia ulotek w pakiecie startowym dla uczestnika</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Miejsce na stoisko partnera</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze na stronie www Politechniki Rzeszowskiej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze">&#10004;</td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Wywiad podczas streamu z Partnerem</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Nakładka graficzna podczas transmisji</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Wyświetlanie logotypu na telebimach w hali</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp Partnera na materiale wyświetlanym na telewizorach TV Student Politechniki Rzeszowskiej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp na ringach w konkurencji Sumo<sup>1</sup></td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Możliwość umieszczenia gadżetów w pakiecie startowym dla uczestnika</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver">&#10004;</td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze w autobusach ZTM Rzeszów
                        </td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp na początku materiału filmowego po wydarzeniu</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze przez streamerów</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacja werbalna przez konferansjera o Partnerze</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacje o partnerze w materiałach prasowych</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze w mailingu do pracowników Politechniki Rzeszowskiej (ponad 3000 odbiorców)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold">&#10004;</td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacja o Partnerze w mailingu do studentów (ponad 7000 odbiorców)</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Kampania reklamowa w stacji radiowej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacje o partnerze w audycjach radiowych</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp na ściance prasowej umieszczonej w hali</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp na ściance umieszczonej na scenie głównej podczas wydarzenia</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp Partnera na materiale wyświetlanym na telebimach w Rzeszowie</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp Partnera na arenie konkurencji ROBO~motion
                            <sup>1</sup></td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Wystawienie rollupa w hali głównej</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Wystawienie flag promocyjnych na zewnątrz hali</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Patronat nad wybraną przez Partnera konkurencją ROBO~motion<sup>2</sup></td>
                        <td class="comparision-table-row-main"></td>
                        <td class="comparision-table-row-diamond">&#10004;</td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Informacje o partnerze w TV</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond"></td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Wystawienie balonu promocyjnego przed budynkiem hali</td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond"></td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Patronat nad wybranymi przez Partnera zawodami
                            <sup>3</sup></td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond"></td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                    <tr>
                        <td>Logotyp na czeku przeznaczonym dla zwycięzców zawodów<sup>3</sup></td>
                        <td class="comparision-table-row-main">&#10004;</td>
                        <td class="comparision-table-row-diamond"></td>
                        <td class="comparision-table-row-gold"></td>
                        <td class="comparision-table-row-silver"></td>
                        <td class="comparision-table-row-bronze"></td>
                        <td class="comparision-table-row-medial"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="comparision-table2-sups">
            <p><sup>1</sup> Jeśli konkurencja nie jest objęta Patronatem</p>
            <p><sup>2</sup> Duży logotyp na arenie objętej Patronatem</p>
            <p><sup>3</sup> Wyłączając zawody ROBO~motion</p>
        </div>
    </section>
    <section class="trusted">
        <img class="trusted-arrow" src="../../assets/svg/partner-arrow.svg" alt="arrow">
        <div class="trusted-partners">
            <img src="../../assets/jpg/edocs.png">
            <img src="../../assets/jpg/beckhoff.jpg">
            <img src="../../assets/jpg/borg.png">
            <img src="../../assets/jpg/cobot.png">
            <img src="../../assets/svg/deloitte.svg">
            <img src="../../assets/jpg/autopart.png">
            <img src="../../assets/jpg/elektrolift.png">
            <img src="../../assets/jpg/es.png">
            <img src="../../assets/jpg/magnezyty.png">
            <img src="../../assets/jpg/fanuc.png">
            <img src="../../assets/jpg/huawei.png">
            <img src="../../assets/jpg/infosoft.png">
            <img src="../../assets/jpg/astor.png">
            <img src="../../assets/jpg/kronospan.png">
            <img src="../../assets/jpg/mtu.png">
            <img src="../../assets/jpg/ont.png">
            <img src="../../assets/jpg/pci.png">
            <img src="../../assets/jpg/toltech.png">
            <img src="../../assets/jpg/izba.png">
            <img src="../../assets/jpg/podkarpackie.png">
            <img src="../../assets/jpg/pratt.png">
            <img src="../../assets/jpg/rzeszow_stolica_white.png">
            <img src="../../assets/jpg/sedziszow.png">
            <img src="../../assets/jpg/sep.gif">
            <img src="../../assets/jpg/solvera.png">
            <img src="../../assets/jpg/tme.png">
            <img src="../../assets/jpg/ale-primary-logo-white.png">
            <img src="../../assets/svg/wago.png">
        </div>
        <h2>Patronat medialny</h2>
        <div class="trusted-partners">
            <img src="../../assets/svg/forbot.svg">
            <img src="../../assets/jpg/botland.webp">
            <img src="../../assets/jpg/salamon.png">
            <img src="../../assets/jpg/tvp.jpg">
            <img src="../../assets/jpg/kurier.jpg">

        </div>
        <h2>Patronat honorowy</h2>
        <div class="trusted-partners">
            <img src="../../assets/jpg/minister_edukacji.jpg">
            <img src="../../assets/jpg/mrit.png">
            <img src="../../assets/jpg/logo_woj_pod.jpg">
            <img src="../../assets/jpg/marszalek.png">
            <img src="../../assets/jpg/rzeszow.png">
            <img src="../../assets/jpg/kuratorium.png">

        </div>
    </section>
    <section class="contact">
        <div style="display: flex; flex-direction: row;  width: 100%;">
            <img src="../../assets/svg/dashes.svg" alt="dashes">
        </div>

        <div class="contact-details">

            <p>Skontaktuj się z nami aby poznać możliwości dla swojej firmy</p>
            <div>
                <img src="../../assets/svg/partner-lukasz.svg" alt="lukasz">
                <img src="../../assets/svg/partner-mateusz.svg" alt="mateusz">
            </div>
        </div>

        <div style="display: flex; flex-direction: row-reverse;width: 100%">
            <img src="../../assets/svg/dashes.svg" alt="dashes">
        </div>
    </section>
    <a href="https://xchallenge.pl/" class="back"><img src="../../assets/svg/partner-go-home.svg"></a>
</div>