<div class="container">
    <section class="beginning">
        <img src="../../assets/svg/partner-baner.svg" alt="logo XChallenge">
        <p class="beginning-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis justo nec, feugiat
            velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc
            dapibus. Phasellus eget lectus lobortis, mollis justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet
            nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.
        </p>
        <iframe src="https://www.youtube.com/embed/0EYLVBSzjM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <img src="../../assets/svg/hashtags.svg" alt="logo XChallenge">
    </section>
    <section class="categories">
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay loop></video>
            <div class="categories-category-side">
                <h2>Task Hunters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay loop></video>
            <div class="categories-category-side">
                <h2>Smash bots</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay loop></video>
            <div class="categories-category-side">
                <h2>Freestyle</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay loop></video>
            <div class="categories-category-side">
                <h2>Line follower</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay loop></video>
            <div class="categories-category-side">
                <h2>Cebula house</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category categories-category-mirror">
            <video src="../../assets/mp4/robot.mp4" autoplay loop></video>
            <div class="categories-category-side">
                <h2>Sumo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
        <div class="categories-category">
            <video src="../../assets/mp4/robot.mp4" autoplay loop></video>
            <div class="categories-category-side">
                <h2>Lego tug of war</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, consectetur aliquet nibh. Etiam laoreet libero vestibulum arcu aliquam, at tincidunt nunc dapibus. Phasellus eget lectus lobortis, mollis
                    justo nec, feugiat velit. Sed sodales metus diam, tristique efficitur diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin urna turpis, suscipit ut nunc ac, cons</p>
            </div>
        </div>
    </section>
    <section class="comparision">
        <h2>Porównanie pakietów</h2>
        <table class="comparision-table">

            <tr class="comparision-table-row">
                <td class="comparision-table-row-main">Partner Główny</td>
                <td class="comparision-table-row-price">50000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-diamond">Partner Diamentowy</td>
                <td class="comparision-table-row-price">30000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-gold">Partner Złoty</td>
                <td class="comparision-table-row-price">10000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-silver">Partner Srebrny</td>
                <td class="comparision-table-row-price">5000 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-bronze">Partner Brązowy</td>
                <td class="comparision-table-row-price">2500 PLN</td>
            </tr>
            <tr class="comparision-table-row">
                <td class="comparision-table-row-medial">Partner Medialny</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>Kwoty netto</p>
                </td>
            </tr>

        </table>
    </section>
    <!-- <section class="contact">
        <img src="../../assets/svg/partner-contact.svg" alt="logo XChallenge">

    </section> -->
</div>