@import '../../scss/colors';
@import '../../scss/variables';
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    z-index: 99999;
    // cursor: pointer;
}

.start {
    animation: startBackground .5s forwards;
}

@keyframes startBackground {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

.dialog-container {
    display: flex;
    flex-direction: column;
    min-height: 40%;
    width: 40%;
    background: linear-gradient(145deg, #222222, #1d1d1d);
    box-shadow: 1rem 1rem 2rem $color-grey-2;
    border-radius: 4rem;
}

.anim {
    animation: breathing 2s forwards;
}

@keyframes breathing {
    0% {
        box-shadow: 1rem 1rem 2rem $color-grey-2;
    }
    60% {
        box-shadow: 1rem 1rem 2rem $color-grey-2, 0rem 0rem 10rem $color-primary;
    }
    100% {
        box-shadow: 1rem 1rem 2rem $color-grey-2, 0rem 0rem 7rem $color-primary;
    }
}

@media only screen and (max-width: $max-width-2) {
    .dialog-container {
        height: 40%;
        width: 60%;
    }
}

@media only screen and (max-width: $max-width-5) {
    .dialog-container {
        height: min-content;
        width: 80%;
    }
}

@media only screen and (max-width: $max-width-6) {
    .dialog-container {
        height: min-content;
        width: 85%;
    }
    .navigation-container {
        flex-grow: 1;
        height: auto;
        flex-direction: column !important;
        &>button {
            margin: 1rem !important;
            width: 70% !important;
        }
    }
}

@media only screen and (max-width: $max-width-7) {
    .dialog-container {
        width: 90%;
    }
}

.context-container {
    padding: 2rem;
    padding-top: 3rem;
    width: 100%;
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    i {
        font-size: 10rem;
        color: $color-primary;
    }
    label {
        width: 90%;
        text-align: center;
        font-size: 2rem;
        &:last-child {
            color: $color-grey-0;
        }
    }
}

.navigation-container {
    flex-grow: 1;
    height: min-content;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    &>button {
        margin: 2rem;
        width: 40%;
        &:last-child {
            border: 2px solid $color-primary;
            background: transparent;
            color: $color-primary;
        }
    }
}