<div class="container category">
    <section class="category-title" data-aos-duration="700" data-aos="fade">
        <h2 data-aos-duration="1000" data-aos="slide-down" data-aos-delay="300">Task Hunters</h2>
    </section>
    <section class="description" data-aos-duration="700" data-aos="zoom-out" data-aos-delay="700">
        <p>{{'home.categories.task-hunters.description' | translate}}</p>
    </section>
    <section class="visalization">
        <h3 class="section-header">{{'home.categories.task-hunters.introduction.title' | translate}}</h3>
        <p>{{'home.categories.task-hunters.introduction.description.1' | translate}}</p>
        <div>&nbsp;</div>
        <p>{{'home.categories.task-hunters.introduction.description.2' | translate}}</p>
        <span></span>
        <h4>{{'home.categories.task-hunters.introduction.stages.1.title' | translate}}</h4>
        <p class="visalization-smaller">{{'home.categories.task-hunters.introduction.stages.1.description' | translate}}</p>
        <!-- <video playsinline controls width="100%">
            <source src="https://rzit.smarthost.pl/videos/XChallange_etap1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->
        <span></span>
        <h4>{{'home.categories.task-hunters.introduction.stages.2.title' | translate}}</h4>
        <p class="visalization-smaller">{{'home.categories.task-hunters.introduction.stages.2.description' | translate}}</p>
        <!-- <video playsinline controls width="100%">
            <source src="https://rzit.smarthost.pl/videos/XChallange_etap2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> -->
    </section>
    <section class="competitions" id="competitions">
        <h4 style="visibility: collapse;">KONKURENCJE: Smash Bots by RoboLAB, Freestyle, Robot Sprint, Line Follower, Micromouse, Cebula House, Sumo, LEGO Tug of War</h4>
        <h3 class="section-header">{{'home.competitions.title' | translate}}</h3>
        <div class="competitions-grid-card-container competitions-grid-card-container-one" *ngFor="let category of categories; index as i;" (mouseenter)="pauseScrolling(true)" (mouseleave)="pauseScrolling(false)" (scroll)="pauseScrolling(false)">
            <div class="competitions-grid-card">
                <div class="competitions-grid-card-style competitions-grid-card--front">
                    <img [src]="'../../assets/gifs/' + category.icon" [alt]="category.name" class="competitions-grid-card--front-img" [id]="'comp-'+i">
                    <label>{{category.name}}</label>
                    <button (click)="flipCard($event, 'back')">{{'home.competitions.learn' | translate}}</button>
                </div>
                <div class="competitions-grid-card-style competitions-grid-card--back">
                    <button (click)="flipCard($event, 'front')">X</button>
                    <p>{{category.description}}</p>
                    <span (click)="openUrl(category.linkToRegulation)">
                      {{'home.competitions.regulations' | translate}}
                    <i class="las la-file-alt"></i>                      </span>
                    <span *ngIf="category.id === 4" (click)="openUrl('https://bit.ly/robomotion21dr')">
                      DRAG {{'home.competitions.regulations' | translate}}
                    <i class="las la-file-alt"></i>                      </span>
                </div>
            </div>
        </div>
        <!-- <div class="competitions-grid competitions-grid-noscroll" id="competitions-scroll">
        </div> -->
        <!-- <a>{{'competitor-zone.categories.join' | translate}} >></a> -->
    </section>
</div>