@import '../../../app/scss/colors';
@import '../../../app/scss/variables';
.register {
    width: 100%;
    // height: 90vh;
    padding: 9rem;
    // margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    p {
        font-size: 2rem;
    }
    &-form {
        // margin-top: 9rem;
        // max-width: 90%;
        padding: 7rem;
        box-shadow: 2rem 2rem 4rem $color-grey-4, -2rem -2rem 4rem rgba($color-grey-0, 0.1), inset 2rem 2rem 4rem $color-grey-4, inset -2rem -2rem 4rem rgba($color-grey-0, 0.1);
        border-radius: 4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        p {
            margin-top: 5rem;
            opacity: 0.7;
            font-size: 1.7rem;
        }
        // font-family: $title-font;
        span {
            font-family: $title-font;
            transition: all .2s ease-in-out;
            font-size: 2rem;
            padding: .5rem;
            &:hover {
                transform: scale(1.1);
            }
            cursor: pointer;
            color: $color-primary;
        }
        &-row {
            display: flex;
            flex-direction: row;
        }
        &-checkbox {
            display: flex;
            flex-direction: row;
            height: 4rem;
            line-height: 3.5rem;
            i {
                padding-left: .5rem;
                transform: translateY(.3rem);
                color: $color-grey-0;
                font-size: 3rem;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: $max-width-4) {
    .register {
        h3 {
            font-size: 3rem;
        }
        padding: 5rem;
        // padding-top: 9rem;
        // height: 100%;
        &-form {
            // height: min-content;
            max-width: 100%;
            padding: 3rem;
            &>div {
                width: 100%
            }
            p {
                margin-top: 2rem !important;
            }
            &-row {
                flex-direction: column;
            }
            button {
                margin: 1rem;
                font-size: 2.5rem;
            }
            span {
                font-size: 2.5rem;
            }
            &-checkbox {
                display: flex;
                flex-direction: row;
                i {
                    font-size: 4.5rem;
                    transform: translateY(-1rem);
                }
            }
        }
    }
    .checkmark {
        transform: translateY(-.6rem);
    }
    .checkbox-container {
        padding-left: 4.5rem !important;
        font-size: 12px !important;
    }
}

@media only screen and (max-height: 700px) {
    .register {
        justify-content: flex-start;
    }
}

.checkbox-container {
    display: block;
    position: relative;
    // padding: 0 .5rem;
    padding-left: 4.4rem;
    cursor: pointer;
    text-align: center;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    // transform: translateY(.6rem);
    position: absolute;
    top: .5rem;
    left: .5rem;
    height: 3rem;
    width: 3rem;
    border: .2rem solid $color-white;
    border-radius: 1rem;
    align-items: center;
}

.checkbox-container input:checked~.checkmark {
    background-color: $color-primary;
    border: .2rem solid $color-primary
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 1rem;
    top: .6rem;
    width: .6rem;
    height: 1rem;
    border: solid $color-grey-4;
    border-width: 0 .2rem .2rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}