<div class="router-child">
    <div class="scroll">
        <section class="top">
            <a>{{'competitor-zone.settings.user'  | translate}}</a>
            <div class="row">
                <app-input [group]="formName" controlName="name"></app-input>
                <app-input [group]="formName" controlName="surname"></app-input>
                <button class="submit-button" [disabled]="!isFormGroupNameValid" (click)="onSubmitNameForm()"><i class="las la-save"></i></button>
            </div>
            <div class="row">
                <div class="uuid">
                    <span>{{'menu.uuid' | translate}}</span>
                    <div (click)="copyValue(userService.userUUID)">
                        <a>{{userService.userUUID}}</a>
                        <i class="las la-copy"></i>
                    </div>
                </div>
                <label>{{'competitor-zone.settings.user-info'  | translate}}</label>
            </div>
            <div class="row" *ngIf="userDetails.uzytkownik_kod !== null">
                <div class="uuid">
                    <span>{{'competitor-zone.competitors.filters.barcode' | translate}}</span>
                    <div (click)="copyValue(userDetails.uzytkownik_kod)">
                        <a>{{userDetails.uzytkownik_kod}}</a>
                        <i class="las la-copy"></i>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <a>{{'competitor-zone.settings.phone'  | translate}}</a>
            <div class="row">
                <app-phone [group]="formPhone" controlName="phone" phoneCodeControlName="country_code" [collapsed]="true"></app-phone>
                <button class="submit-button" [disabled]="!isFormGroupPhoneValid || !isPhoneChanged" (click)="onSubmitPhone()"><i class="las la-save"></i></button>
            </div>
            <label>{{'competitor-zone.settings.phone-info'  | translate}}</label>
        </section>
        <section>

            <a>{{'competitor-zone.settings.postal'  | translate}}</a>
            <div class="row">
                <app-input [group]="formPostal" controlName="postal_code"></app-input>
                <button class="submit-button" [disabled]="!isFormGroupPostalValid || !isPostalChanged" (click)="onSubmitPostalForm()"><i class="las la-save"></i></button>
            </div>
            <div class="row">
                <app-input [group]="formAge" controlName="age" type="number" [min]="1"></app-input>
                <button class="submit-button" [disabled]="!isFormGroupAgeValid || !isAgeChanged" (click)="onSubmitAgeForm()"><i class="las la-save"></i></button>
            </div>
            <div class="checkbox" style="margin-bottom: 2rem;">
                <label class="checkbox-container">{{'competitor-zone.register.personally' | translate}}
                  <input type="checkbox" (click)="onChangePersonally()" [checked]="isPersonally">
                  <span class="checkmark"></span>
              </label>

            </div>
        </section>
        <section>
            <a>{{'competitor-zone.settings.preferences'  | translate}}</a>
            <div class="row">
                <!-- <app-input [group]="formPreferences" controlName="preferedFood"></app-input> -->
                <app-input [group]="formPreferences" controlName="tshirtSize"></app-input>
            </div>
            <label>{{'competitor-zone.settings.change'  | translate}}</label>
        </section>
        <section>
            <a>{{'competitor-zone.settings.password'  | translate}}</a>
            <app-input [group]="formPassword" controlName="actualPassword"></app-input>
            <app-input [group]="formPassword" controlName="newPassword"></app-input>
            <div class="row">
                <app-input [group]="formPassword" controlName="repeatNewPassword"></app-input>
                <button class="submit-button" [disabled]="!isFormGroupPasswordValid" (click)="onSubmitPasswordForm()"><i class="las la-save"></i></button>
            </div>
            <label><br></label>
        </section>
        <section *ngIf="userService.isReferee">
            <a>{{'competitor-zone.settings.referee-settings'  | translate}}</a>
            <label class="checkbox-container">
              <a [ngClass]="{'checkbox-checked': isDisplayDevice}">{{'competitor-zone.settings.is-sliding' | translate}}</a>
              <input type="checkbox" (click)="onChangeDisplayDevice()" [checked]="isDisplayDevice">
              <span class="checkmark"></span>
          </label>
            <!-- <label class="checkbox-container">
              <a [ngClass]="{'checkbox-checked': esp32Service.isRFIDDevice}">{{'competitor-zone.settings.is-esp32' | translate}}</a>
              <input type="checkbox" (click)="esp32Service.onChangeRFIDDevice()" [checked]="esp32Service.isRFIDDevice">
              <span class="checkmark"></span>
          </label> -->
            <app-select [group]="formRFID" controlName="rfid_option" [options]="gatesOptions" translatePrefix="controls"></app-select>

        </section>
        <!-- <section *ngIf="userService.isReferee">
            <a>{{'competitor-zone.settings.test'  | translate}}</a>
            <a *ngIf="returnedPayload">payload: {{returnedPayload}}</a>
            <div class="row">
                <button class="submit-button button-large" (click)="onReadRFIDTag()"><span>{{'competitor-zone.settings.get-rfid'  | translate}}</span><i class="las la-id-card-alt"></i></button>
                <button class="submit-button button-large" (click)="onReadLapTime()"><span>{{'competitor-zone.settings.get-lap-time'  | translate}}</span><i class="las la-stopwatch"></i></button>
            </div>
            <div class="row" style="padding-top: 5rem;">
                <div>
                    <label>{{'competitor-zone.settings.set-rfid'  | translate}}</label>
                    <app-input [group]="formRFID" controlName="payload"></app-input>
                </div>
                <button class="submit-button" [disabled]="!isFormGroupRFIDValid" (click)="onWriteRFIDTag()"><i class="las la-save"></i></button>
            </div>
            <label><br></label>
        </section> -->
    </div>

</div>