@import '../../../scss/colors';
@import '../../../scss/variables';
.scroll {
    // height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

section {
    // margin-top: 1rem;
    width: 100%;
    height: max-content;
    min-height: min-content;
    border-bottom: 0.2rem dashed rgba($color-grey-0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    // overflow-x: auto;
    app-input {
        width: 100%;
        height: 5rem;
        margin: 1rem 0;
    }
    app-phone {
        width: 100%;
        // height: 5rem;
        margin: 1rem 0;
    }
    &:last-child {
        app-input {
            margin: 2rem 0rem;
        }
        button {
            &,
            &:link,
            &:visited {
                margin-top: 3rem;
            }
        }
    }
    a {
        font-size: 1.8rem;
        font-family: $title-font;
        // padding-bottom: 2rem;
    }
    label {
        color: $color-grey-0;
        font-size: 1.2rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }
    button {
        &,
        &:link,
        &:visited {
            height: 5.5rem;
            width: min-content !important;
            margin: 1rem;
            margin-top: 2rem;
            padding: 1.8rem;
            line-height: .2rem !important;
            border-radius: 1rem !important;
            font-size: 2.3rem !important;
        }
        &:hover:not(:disabled):not(:last-child) {
            box-shadow: 0 0.2rem 2.3rem rgba($color-primary, 0.7);
        }
        i {
            font-size: 3.5rem;
            padding: 0 !important;
            margin: 0 !important;
            line-height: 1.5rem !important;
        }
    }
}

.row {
    padding-right: 2rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
}

.button-large {
    height: 100% !important;
    span {
        line-height: normal !important;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.uuid {
    padding-left: 2rem;
    margin-top: 1rem;
    display: flex;
    width: max-content;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    span {
        letter-spacing: .2rem;
        font-size: 1.5rem;
        color: $color-grey-0;
    }
    a {
        font-size: 2.2rem;
        font-weight: bold;
        font-family: $title-font;
        color: $color-primary;
        cursor: pointer;
    }
    i {
        cursor: pointer;
        color: $color-grey-0;
        font-size: 2.5rem;
        padding: 1rem;
    }
}

.top {
    border-top: rgba($color-grey-0, 0.3);
    margin-top: 0rem;
}

@media only screen and (max-width: 1150px) {
    section {
        min-height: max-content;
        button {
            width: 90% !important;
            margin: 1rem;
        }
    }
    .row {
        min-height: max-content;
        flex-direction: column;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        app-input {
            min-height: 7.5rem;
        }
        label {
            font-size: 1.5rem;
        }
    }
    .uuid {
        max-width: 100%;
        padding: 0rem;
        margin-top: 1rem;
        // width: min-content;
        flex-direction: column;
        align-items: center;
        span {
            letter-spacing: .2rem;
            font-size: 1.8rem;
            color: $color-grey-0;
        }
        a {
            font-size: 2rem;
            text-align: center;
        }
    }
}