<div class="router-child">
    <div class="filter">
        <div>
            <h5><span>{{'competitor-zone.competitors.title' | translate}}</span></h5>
            <label *ngIf="competitorsFiltered">{{'competitor-zone.competitors.on-list' | translate}}{{competitorsFiltered.length}}</label>
        </div>
        <app-select [group]="formOption" [collapsed]="true" controlName="filter" translatePrefix="controls" [options]="filterOptions"></app-select>
        <app-input [group]="formFilter" [collapsed]="true" controlName="filter_name"></app-input>
    </div>
    <div class="my-robots">
        <div class="my-robots-element" *ngFor="let user of competitorsFiltered" (click)="editUser(user.uzytkownik_uuid)">
            <div class="my-robots-element-info">
                <p class="my-robots-element-uuid">{{user.uzytkownik_uuid}}</p>
                <p class="my-robots-element-name">{{user.imie}} {{user.nazwisko}}</p>
            </div>
            <details class="my-robots-element-categories" (click)="dummy($event)">{{'competitor-zone.competitor.positions' | translate}}<b>{{user.stanowiska}}</b><br>{{'competitor-zone.competitors.categories' | translate}}<b>{{user.kategorie}}</b><br>
                <ng-container *ngIf="user.numer_telefonu">{{'competitor-zone.competitor.phone' | translate}}<b>{{user.numer_telefonu}}</b></ng-container>
            </details>
            <span class="my-robots-element-edit">{{'competitor-zone.competitors.more' | translate}}<i class="las la-angle-double-right"></i></span>
        </div>
        <app-spinner *ngIf="!competitorsFiltered"></app-spinner>
    </div>
</div>