<div class="router-child">
    <div class="filter">
        <div>
            <h5><span>{{'competitor-zone.competitors.title' | translate}}</span></h5>
            <label *ngIf="competitorsFiltered">{{'competitor-zone.competitors.on-list' | translate}}{{competitorsFiltered.length}}</label>
        </div>
        <app-select [group]="formOption" [collapsed]="true" controlName="filter" translatePrefix="controls" [options]="filterOptions"></app-select>
        <app-input [group]="formFilter" [collapsed]="true" controlName="filter_name"></app-input>
    </div>
    <div class="my-robots">
        <div class="my-robots-element" *ngFor="let user of competitorsFiltered" (click)="editUser(user.uzytkownik_uuid)">
            <div class="my-robots-element-info">
                <p class="my-robots-element-uuid">{{user.uzytkownik_uuid}}</p>
                <p class="my-robots-element-name">{{user.imie}} {{user.nazwisko}}</p>
            </div>
            <details class="my-robots-element-categories" (click)="dummy($event)" style="display: flex; flex-direction: column;">
                <a *ngIf="user.numer_telefonu">{{'competitor-zone.competitor.phone' | translate}}<b>{{user.numer_telefonu}}</b></a>
                <a *ngIf="user.data_rejestracji">{{'competitor-zone.competitor.registration' | translate}}<b>{{user.data_rejestracji | date:'dd.MM.YYYY'}}</b></a>
                <a *ngIf="user.roboty && user.roboty.length > 0">{{'competitor-zone.competitors.filters.robots-name' | translate}}<b *ngFor="let robot of user.roboty">{{robot.nazwa_robota}}</b></a>
                <a *ngIf="user.kategorie && user.kategorie.length > 0">{{'competitor-zone.competitors.filters.categories' | translate}}<b *ngFor="let category of user.kategorie">{{category}}</b></a>
            </details>
            <span class="my-robots-element-edit">{{'competitor-zone.competitors.more' | translate}}<i class="las la-angle-double-right"></i></span>
        </div>
        <app-spinner *ngIf="!competitorsFiltered"></app-spinner>
    </div>
</div>