$color-primary: #FFE600;
$color-primary-dark: #ffd000;
$color-grey-0: #A4A4A4;
$color-grey-1: #2E2C2E;
$color-grey-2: #1B1B1B;
$color-grey-3: #202020;
$color-grey-4: #252525;
$color-grey-5: #141414;
$color-white: #FFFFFF;
$color-black: #000;
$color-invalid: #f61010