<div class="container">
    <app-header [pageName]="'menu.timetable'"></app-header>
    <div class="timetable">
        <div class="timetable-tables">
            <label *ngFor="let table of timetableValues; let i = index" (click)="changeTimetable(i)" [ngClass]="{'timetable-tables-active': timetableIndex == i}">{{table.nazwa}}</label>
        </div>
        <p *ngIf="userService.isAdmin" style="color: red; cursor: pointer;font-size:2rem;margin: 0;" (click)="onDeleteTimetable()">{{'timetable.delete-timetable' | translate}}</p>
        <app-spinner *ngIf="!timetableValues"></app-spinner>
        <div class="timetable-grid-scroll">
            <div class="timetable-grid" *ngIf="timetableValues" [style]="getTimetableStyle">
                <ng-container *ngFor="let row of getRows">
                    <ng-container *ngFor="let col of getColumns">
                        <div *ngIf="buildCell(col,row) as cell" [style]="cell.style" [ngClass]="{'timetable-tables-hover': userService.isAdmin}" (click)="onCellClick(col-1,row)"><label>{{isEnglish ? cell.nazwaENG : cell.nazwaPL}}</label></div>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <div *ngIf="userService.isAdmin" class="timetable-container">
            <div class="timetable-new">
                {{'timetable.new-timetable' | translate}}
                <app-input [group]="formTimetable" controlName="harmonogram"></app-input>
                <app-input [group]="formTimetable" controlName="kolumny" type="number"></app-input>
                <app-input [group]="formTimetable" controlName="wiersze" type="number"></app-input>
                <app-input [group]="formTimetable" controlName="interwal" type="number"></app-input>
                <app-input [group]="formTimetable" controlName="godzina_rozpoczecia" type="time"></app-input>
                <label>{{'timetable.new-timetable-warning' | translate}}</label>
                <button class="submit-button" [disabled]="!isFormTimetableValid" (click)="onFormSubmit()">              {{'timetable.new-timetable-add' | translate}}
                </button>
            </div>
            <div style="width: 5rem; height: 60rem; border-right: 2px grey dotted; border-left: 2px grey dotted;"></div>
            <div class="timetable-new">
                {{'timetable.edit-timetable' | translate}}
                <app-input [group]="formCell" controlName="nazwaPL"></app-input>
                <app-input [group]="formCell" controlName="nazwaENG"></app-input>
                <app-input [group]="formCell" controlName="kolumna" type="number"></app-input>
                <app-input [group]="formCell" controlName="wiersz" type="number"></app-input>
                <app-input [group]="formCell" controlName="colSpan" type="number"></app-input>
                <app-input [group]="formCell" controlName="rowSpan" type="number"></app-input>
            </div>
            <div class="timetable-new">
                {{'timetable.styling-timetable' | translate}}
                <app-input [group]="formCell" controlName="backgroundColor" type="color"></app-input>
                <app-input [group]="formCell" controlName="fontColor" type="color"></app-input>
                <app-input [group]="formCell" controlName="fontSize" type="number"></app-input>
                <app-input [group]="formCell" controlName="fontWeight" placeholder="100-900"></app-input>
                <button class="submit-button" [disabled]="editingCellIndex == null" (click)="removeCurrentCell()">{{'timetable.delete-cell' | translate}}</button>
                <label class="checkbox-container">
                  <p [ngClass]="{'checkbox-checked': isTimetableVisible}">{{'timetable.timetable-visible' | translate}}</p>
                  <input type="checkbox" (click)="onChangeDisplayDevice()" [checked]="isTimetableVisible">
                  <span class="checkmark"></span>
              </label>
                <button class="submit-button" (click)="onSaveTimetable()">{{'timetable.save-timetable' | translate}}</button>
            </div>
        </div>
        <p>{{'timetable.info' | translate}}</p>
    </div>
</div>