<ng-container *ngIf="getSelectedCategory">
    <!-- <div class="scroll"> -->
    <section class="referee-categories" *ngIf="!selectedGroupFromParent">
        <label>{{'competitor-zone.referee-zone.groups' | translate}}</label>
        <span *ngIf="groups && groups.length === 0">{{'competitor-zone.referee-zone.no-groups' | translate}}</span>
        <span *ngIf="filteredGroups?.length == 0">{{"competitor-zone.fights-view.no-groups" | translate}}</span>
        <button (click)="selectGroup(group.grupa_id!)" *ngFor="let group of filteredGroups" [ngClass]="{'referee-categories-active': group.grupa_id! === selectedGroup}">{{group.nazwa}}</button>
        <button class="referee-categories-add" (click)="selectGroup(-1)" *ngIf="canModify"><i class="las la-plus"></i></button>
    </section>
    <section class="new-group" *ngIf="selectedGroup == -1 && canModify">
        <p>Ilość robotów: <b>{{getRobotsInCategory.length}}</b></p>
        <app-select [group]="formNewGroup" controlName="option" translatePrefix="controls" [options]="getOptions" [collapsed]="true"></app-select>
        <app-select [group]="formNewGroup" controlName="count" translatePrefix="controls" [options]="getNumberToFinal" [collapsed]="true"></app-select>
        <div class="row">
            <app-select [group]="formNewGroup" controlName="position" translatePrefix="controls" [options]="getPositionsForCategory" [collapsed]="true"></app-select>
            <button class="submit-button" [disabled]="!isPositionFormValid || !isLessThanFinalValueButton" (click)="addPosition()"><i class="las la-plus"></i></button>
        </div>
        <label *ngFor="let selPos of getSelectedPositions"><i class="las la-trash-alt" (click)="removePosition(selPos)"></i> {{selPos}}</label>
        <a>Ilość wybranych stanowisk jest jednocześnie ilością grup (2,4,8 lub 16) i nie może być mniejsza niż "Ilość do finału"</a>
        <p>Wiadomość zwrotna:</p>
        <p *ngIf="resp">{{resp}}</p>
        <button class="submit-button" [disabled]="!isNewGroupFormValid || !isLessThanFinalValue" (click)="createGroup()">UTWÓRZ GRUPY DLA KATEGORII</button>
    </section>
    <section class="tree" *ngIf="!isLoadingDeletingGroup && selectedGroup && selectedGroup != -1">
        <div class="tree-fight-row tree-fight-row-height" *ngIf="canModify">
            <button class="submit-button tree-button" (click)="deleteGroup()">USUŃ GRUPE</button>
            <!-- <button class="submit-button" (click)="deleteGroup()">DODAJ WALKĘ</button> -->
            <ng-container *ngIf="{new: false} as variable">
                <button class="submit-button" (click)="variable.new = true; formNewFight.reset();" *ngIf="!variable.new && getSelectedGroupType == 1">DODAJ WALKĘ</button>
                <p class="tree-fight" *ngIf="variable.new">
                    <i style="align-self: flex-start; cursor: pointer;" class="las la-times" (click)="variable.new = false"></i>
                    <app-select [group]="formNewFight" controlName="position" translatePrefix="controls" [options]="getPositionsForCategory" [collapsed]="true"></app-select>
                    <app-select [group]="formNewFight" controlName="next_fight" translatePrefix="controls" [options]="fightsOptions" [collapsed]="true"></app-select>
                    <button class="submit-button" [disabled]="!isNewFightFormValid" style="margin: .5rem;" (click)="addFight(); variable.new = false;">DODAJ</button>
                </p>
            </ng-container>
        </div>
        <div class="tree-diagram" *ngIf="getSelectedGroupType == 1">
            <div class="tree-third">
                <a>{{"competitor-zone.fights-view.3rd-fight" | translate}}</a>
                <p class="tree-fight" [ngClass]="{'tree-fight-tba': getFightsInGroup[0].robot1_nazwa == null || getFightsInGroup[0].robot2_nazwa == null}">
                    <ng-container *ngIf="{edit: false} as variable">
                        <ng-container *ngIf="!variable.edit">
                            <div class="tree-fight-row">
                                <a class="tree-fight-id">{{getFightsInGroup[0].walka_id}}</a>
                                <i class="las la-edit" (click)="variable.edit = !variable.edit" *ngIf="canModify"></i>
                            </div> <label class="tree-fight-body">
                      <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': getFightsInGroup[0] ? getFightsInGroup[0].wygrane_rundy_robot1! > getFightsInGroup[0].wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': getFightsInGroup[0] ? getFightsInGroup[0].wygrane_rundy_robot1! < getFightsInGroup[0].wygrane_rundy_robot2! : false}">{{getFightsInGroup[0].robot1_nazwa?? "TBA"}}</a>
                      <a class="tree-fight-body-score tree-fight-body-score-1">{{getFightsInGroup[0].wygrane_rundy_robot1 != null ? getFightsInGroup[0].wygrane_rundy_robot1 : "?"}}</a>
                      :
                      <a class="tree-fight-body-score tree-fight-body-score-2">{{getFightsInGroup[0].wygrane_rundy_robot2 != null ? getFightsInGroup[0].wygrane_rundy_robot2 : "?"}}</a>
                      <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': getFightsInGroup[0] ? getFightsInGroup[0].wygrane_rundy_robot1! < getFightsInGroup[0].wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': getFightsInGroup[0] ? getFightsInGroup[0].wygrane_rundy_robot1! > getFightsInGroup[0].wygrane_rundy_robot2! : false}">{{getFightsInGroup[0].robot2_nazwa ?? "TBA"}}</a>
                    </label>
                            <a *ngIf="getFightsInGroup[0].robot1_nazwa != null && getFightsInGroup[0].robot2_nazwa != null" class="tree-fight-pos">{{getFightsInGroup[0].nazwa_stanowiska}}</a>
                        </ng-container>
                        <ng-container *ngIf="variable.edit && canModify">
                            <div>
                                <app-select [group]="formEditFight" controlName="robot1" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                                vs<br><br>
                                <app-select [group]="formEditFight" controlName="robot2" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                                <div class="tree-fight-row">
                                    <button class="submit-button tree-button" style="margin: .5rem;" (click)="deleteFight(getFightsInGroup[0].walka_id)">USUŃ</button>
                                    <button class="submit-button" style="margin: .5rem;" (click)="editFight(getFightsInGroup[0].walka_id);variable.edit=false;">ZAPISZ</button>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </p>
            </div>
            <ul class="tree-diagram-no-dash">
                <li>
                    <p class="tree-fight" [ngClass]="{'tree-fight-tba': filteredFightsInGroup?.fight?.robot1_nazwa == null || filteredFightsInGroup?.fight?.robot2_nazwa == null}">
                        <ng-container *ngIf="{edit: false} as variable">
                            <div class="tree-fight-row">
                                <a class="tree-fight-id">{{filteredFightsInGroup?.fight?.walka_id}}</a>
                                <i class="las la-edit" (click)="variable.edit = !variable.edit" *ngIf="canModify"></i>
                            </div>
                            <ng-container *ngIf="!variable.edit">
                                <label class="tree-fight-body">
                                <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': filteredFightsInGroup?.fight ? filteredFightsInGroup!.fight!.wygrane_rundy_robot1! > filteredFightsInGroup!.fight!.wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': filteredFightsInGroup?.fight ? filteredFightsInGroup!.fight!.wygrane_rundy_robot1! < filteredFightsInGroup!.fight!.wygrane_rundy_robot2! : false}">{{filteredFightsInGroup?.fight?.robot1_nazwa?? "TBA"}}</a>
                                <a class="tree-fight-body-score tree-fight-body-score-1">{{filteredFightsInGroup?.fight?.wygrane_rundy_robot1 != null ? filteredFightsInGroup?.fight?.wygrane_rundy_robot1 : "?"}}</a>
                                :
                                <a class="tree-fight-body-score tree-fight-body-score-2">{{filteredFightsInGroup?.fight?.wygrane_rundy_robot2 != null ? filteredFightsInGroup?.fight?.wygrane_rundy_robot2 : "?"}}</a>
                                <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': filteredFightsInGroup?.fight ? filteredFightsInGroup!.fight!.wygrane_rundy_robot1! < filteredFightsInGroup!.fight!.wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': filteredFightsInGroup?.fight ? filteredFightsInGroup!.fight!.wygrane_rundy_robot1! > filteredFightsInGroup!.fight!.wygrane_rundy_robot2! : false}">{{filteredFightsInGroup?.fight?.robot2_nazwa ?? "TBA"}}</a>
                              </label>
                                <a *ngIf="filteredFightsInGroup?.fight?.robot1_nazwa != null && filteredFightsInGroup?.fight?.robot2_nazwa != null" class="tree-fight-pos">{{filteredFightsInGroup?.fight?.nazwa_stanowiska}}</a>
                            </ng-container>
                            <ng-container *ngIf="variable.edit && canModify">
                                <div>
                                    <app-select [group]="formEditFight" controlName="robot1" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                                    vs<br><br>
                                    <app-select [group]="formEditFight" controlName="robot2" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                                    <div class="tree-fight-row">
                                        <button class="submit-button tree-button" style="margin: .5rem;" (click)="deleteFight(filteredFightsInGroup?.fight!.walka_id)">USUŃ</button>
                                        <button class="submit-button" style="margin: .5rem;" (click)="editFight(filteredFightsInGroup?.fight!.walka_id);variable.edit=false;">ZAPISZ</button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </p>

                    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ tree: filteredFightsInGroup }"></ng-container>

                </li>
            </ul>
        </div>
        <div class="eliminations" *ngIf="getSelectedGroupType == 0">
            <p class="tree-fight" *ngFor="let fight of getFightsInGroup" [ngClass]="{'tree-fight-tba': fight.robot1_nazwa == null || fight.robot2_nazwa == null}">
                <!-- <ng-container > -->
                <ng-container *ngIf="{edit: false} as variable">
                    <div class="tree-fight-row">
                        <a class="tree-fight-id">{{fight.walka_id}}</a>
                        <i class="las la-edit" (click)="variable.edit = !variable.edit" *ngIf="canModify"></i>
                    </div>
                    <ng-container *ngIf="!variable.edit">
                        <label class="tree-fight-body">
                    <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': fight ? fight.wygrane_rundy_robot1! > fight.wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': fight ? fight.wygrane_rundy_robot1! < fight.wygrane_rundy_robot2! : false}">{{fight.robot1_nazwa?? "TBA"}}</a>
                    <a class="tree-fight-body-score tree-fight-body-score-1">{{fight.wygrane_rundy_robot1 != null ? fight.wygrane_rundy_robot1 : "?"}}</a>
                    :
                    <a class="tree-fight-body-score tree-fight-body-score-2">{{fight.wygrane_rundy_robot2 != null ? fight.wygrane_rundy_robot2 : "?"}}</a>
                    <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': fight ? fight.wygrane_rundy_robot1! < fight.wygrane_rundy_robot2! : false, 'tree-fight-body-score-lose': fight ? fight.wygrane_rundy_robot1! > fight.wygrane_rundy_robot2! : false}">{{fight.robot2_nazwa ?? "TBA"}}</a>
                  </label>
                        <a *ngIf="fight.robot1_nazwa != null && fight.robot2_nazwa != null" class="tree-fight-pos">{{fight.nazwa_stanowiska}}</a>
                    </ng-container>
                    <ng-container *ngIf="variable.edit && canModify">
                        <div>
                            <app-select [group]="formEditFight" controlName="robot1" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                            vs<br><br>
                            <app-select [group]="formEditFight" controlName="robot2" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                            <div class="tree-fight-row">
                                <button class="submit-button tree-button" style="margin: .5rem;" (click)="deleteFight(fight.walka_id)">USUŃ</button>
                                <button class="submit-button" style="margin: .5rem;" (click)="editFight(fight.walka_id)">ZAPISZ</button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </p>
            <ng-container *ngIf="canModify">
                <ng-container *ngIf="{new: false} as variable">
                    <button class="eliminations-button" (click)="variable.new = true" *ngIf="!variable.new"><i class="las la-plus"></i></button>
                    <p class="tree-fight" *ngIf="variable.new">
                        <i style="align-self: flex-start; cursor: pointer;" class="las la-times" (click)="variable.new = false"></i>
                        <app-select [group]="formNewFight" controlName="position" translatePrefix="controls" [options]="getPositionsForCategory" [collapsed]="true"></app-select>
                        <button class="submit-button" [disabled]="!isNewFightFormValid" style="margin: .5rem;" (click)="addFight(); variable.new = false;">DODAJ</button>
                    </p>
                </ng-container>
            </ng-container>
            <div class="eliminations-points">
                <a>Punkty</a>
                <p *ngFor="let robot of bestRobots">{{robot.robot.nazwa_robota}}: {{robot.punkty}}</p>
            </div>
        </div>
    </section>
</ng-container>
<ng-template #recursiveListTmpl let-tree="tree">
    <ul *ngIf="tree" [ngClass]="{'tree-diagram-no-dash-bottom': tree.children == null}">
        <li *ngFor="let child of tree.children">
            <p class="tree-fight" [ngClass]="{'tree-fight-tba': child.fight.robot1_nazwa == null || child.fight.robot2_nazwa == null}">
                <ng-container *ngIf="{edit: false} as variable">
                    <div class="tree-fight-row">
                        <a class="tree-fight-id">{{child.fight.walka_id}}</a>
                        <i class="las la-edit" (click)="variable.edit = !variable.edit" *ngIf="canModify"></i>
                    </div>
                    <ng-container *ngIf="!variable.edit">
                        <label class="tree-fight-body">
                      <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': child.fight.wygrane_rundy_robot1 > child.fight.wygrane_rundy_robot2, 'tree-fight-body-score-lose': child.fight.wygrane_rundy_robot1 < child.fight.wygrane_rundy_robot2}">{{child.fight.robot1_nazwa?? "TBA"}}</a>
                      <a class="tree-fight-body-score tree-fight-body-score-1">{{child.fight.wygrane_rundy_robot1 != null ? child.fight.wygrane_rundy_robot1 : "?"}}</a>
                      :
                      <a class="tree-fight-body-score tree-fight-body-score-2">{{child.fight.wygrane_rundy_robot2 != null ? child.fight.wygrane_rundy_robot2 : "?"}}</a>
                      <a class="tree-fight-body-name" [ngClass]="{'tree-fight-body-score-win': child.fight.wygrane_rundy_robot1 < child.fight.wygrane_rundy_robot2, 'tree-fight-body-score-lose': child.fight.wygrane_rundy_robot1 > child.fight.wygrane_rundy_robot2}">{{child.fight.robot2_nazwa ?? "TBA"}}</a>
                    </label>
                        <a *ngIf="child.fight.robot1_nazwa != null && child.fight.robot2_nazwa != null" class="tree-fight-pos">{{child.fight.nazwa_stanowiska}}</a>
                    </ng-container>
                    <ng-container *ngIf="variable.edit && canModify">
                        <div class="tree-fight-new">
                            <app-select [group]="formEditFight" controlName="robot1" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                            vs<br><br>
                            <app-select [group]="formEditFight" controlName="robot2" translatePrefix="controls" [options]="robotOptions" [collapsed]="true"></app-select>
                            <div class="tree-fight-row">
                                <button class="submit-button tree-button" style="margin: .5rem;" (click)="deleteFight(child.fight.walka_id)">USUŃ</button>
                                <button class="submit-button" style="margin: .5rem;" (click)="editFight(child.fight.walka_id)">ZAPISZ</button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </p>
            <!-- <p class="tree-fight"></p> -->
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ tree: child }"></ng-container>
        </li>
    </ul>
</ng-template>