@import '../app/scss/colors';
@import '../app/scss/variables';
.navigator {
    &-tc {
        background: linear-gradient(-90deg, $color-tc, $color-tc-dark) !important;
    }
    &-sb {
        background: linear-gradient(-90deg, $color-sb, $color-sb-dark) !important;
    }
    &-rm {
        background: linear-gradient(-90deg, $color-rm, $color-rm-dark) !important;
        a {
            color: $color-grey-1 !important
        }
        .navigator {
            &-footer {
                p {
                    color: $color-grey-1 !important;
                    border-bottom: 1px dashed $color-grey-1 !important;
                }
            }
        }
    }
    padding: 10rem 0 10rem 5rem;
    // padding-bottom: 10rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 40rem;
    height: 100vh;
    background: linear-gradient(-90deg, $color-primary, $color-primary-dark);
    z-index: -1;
    transition: ease-in-out .5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // justify-self: flex-start;
        align-self: flex-start;
    }
    &-footer {
        width: 100%;
        p {
            padding-top: 2rem;
            width: max-content;
            font-size: 1.6rem;
            font-family: $title-font;
            text-align: left;
            color: $color-white;
            padding-bottom: .5rem;
            border-bottom: 1px dashed $color-white;
            cursor: pointer;
        }
        img {
            // margin-top: 5rem;
            border-radius: 1.5rem;
            align-self: flex-start;
            height: 4rem;
            cursor: pointer;
        }
        i {
            padding-top: 2rem;
            transform: translateX(-7px);
            font-size: 5rem;
            // width: 5rem;
            // height: 5rem;
        }
    }
    &-competitor-zone {
        font-size: 3rem !important;
        font-weight: 700 !important;
    }
    a {
        color: $color-white;
        width: 100%;
        text-align: left;
        margin: 1rem 0;
        // margin-left: 0rem;
        line-height: 2.5rem;
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-family: $title-font;
        font-weight: 400;
        background: transparent;
        transition: all 0.1s ease-in-out;
        &:active {
            transform: translateY(3px);
        }
    }
    &-user {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        span {
            // color: $color-grey-5 !important;
            font-size: 1.5rem;
            color: $color-grey-5;
            letter-spacing: .2rem;
        }
        p {
            // color: $color-grey-5 !important;
            font-family: $title-font;
            font-size: 1.5rem;
            color: $color-grey-5;
            font-weight: bold;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        label {
            text-align: left;
            font-size: 3.5rem;
            color: $color-grey-5;
            font-weight: 400;
            span {
                font-weight: bold;
                font-family: $title-font;
                // text-transform: uppercase;
                font-size: 4rem;
            }
        }
        button {
            &,
            &:link,
            &:visited {
                color: $color-grey-5;
                background-color: transparent;
                text-transform: uppercase;
                line-height: 1.75rem;
                border-radius: 1rem;
                // box-shadow: 0 0.2rem 2rem rgba($color-grey-5, 0.5);
                font-size: 1.75rem;
                font-weight: 600;
                border: .3rem solid $color-grey-5;
                cursor: pointer;
                transition: all ease-out 0.2s;
                text-decoration: none;
                padding: 0.5rem;
                &:focus {
                    outline: none;
                    &:active {
                        transform: translateY(3px);
                    }
                }
            }
        }
    }
    &-menu {
        padding: .5rem;
        &,
        &:link,
        &:visited {
            z-index: 100;
            color: $color-white;
            position: fixed;
            right: 2rem;
            top: 2rem;
            width: 5rem;
            height: 5rem;
            // background-color: transparent;
            line-height: 1rem;
            border-radius: 1rem;
            box-shadow: 0 0.2rem 2rem rgba($color-grey-5, 0.5);
            font-size: 3rem;
            border: .2rem solid $color-primary;
            cursor: pointer;
            transition: all ease-out 0.5s;
            text-decoration: none;
            font-family: $title-font;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: $color-grey-1;
            &:focus {
                outline: none;
                &:active {
                    transition: all ease-out 0.5s;
                    border: .2rem solid $color-white;
                    transform: translateY(3px);
                }
            }
            &.open {
                background-color: transparent;
                transition: all ease-out 0.5s;
                color: $color-white;
                border: .3rem solid $color-white !important;
            }
            &.open .navigator-menu-burger {
                transform: translateX(5rem);
                color: $color-white !important;
                background-color: $color-white !important;
                border: .3rem solid $color-white !important;
            }
            &.open .navigator-menu-burger-top {
                transform: translateY(1rem) rotate(45deg)
            }
            &.open .navigator-menu-burger-middle {
                opacity: 0;
            }
            &.open .navigator-menu-burger-bottom {
                transform: translateY(-1rem) rotate(-45deg)
            }
        }
        &-burger {
            width: 70%;
            height: .3rem;
            background: $color-primary;
            transition: all .5s ease-in-out;
        }
        &-black {
            &.open {
                color: $color-grey-1 !important;
                border: .2rem solid $color-grey-1 !important;
            }
            &.open .navigator-menu-burger {
                color: $color-grey-1 !important;
                background-color: $color-grey-1 !important;
                border: .2rem solid $color-grey-1 !important;
            }
        }
        &-tc {
            &,
            &:link,
            &:visited {
                background-color: $color-grey-1;
                border: .3rem solid $color-tc !important;
                &:focus {
                    &:active {
                        border: .3rem solid $color-tc !important;
                    }
                }
                &.open {
                    background-color: transparent;
                }
            }
            .navigator-menu-burger {
                background: $color-tc !important;
            }
        }
        &-sb {
            &,
            &:link,
            &:visited {
                background-color: $color-grey-1;
                border: .3rem solid $color-sb !important;
                &:focus {
                    &:active {
                        border: .3rem solid $color-sb !important;
                    }
                }
                &.open {
                    background-color: transparent;
                }
            }
            .navigator-menu-burger {
                background: $color-sb !important;
            }
        }
        &-rm {
            &,
            &:link,
            &:visited {
                background-color: $color-grey-1;
                border: .3rem solid $color-rm !important;
                &:focus {
                    &:active {
                        border: .3rem solid $color-rm !important;
                    }
                }
                &.open {
                    background-color: transparent;
                }
            }
            .navigator-menu-burger {
                background: $color-rm !important;
            }
        }
    }
    &-outlet {
        position: relative;
        transition: ease-in-out .5s;
        background-color: $color-grey-1;
        width: 100vw;
        height: 100%;
        &.open {
            transform: translateX(-40rem);
        }
    }
    &-outlet>* {
        display: block;
    }
}

@media only screen and (max-width: $max-width-5) {
    .navigator {
        overflow-y: auto;
        width: 100vw;
        padding: 10rem 5rem 10rem 5rem;
        &-links {
            align-self: center;
        }
        a {
            font-size: 2.8rem;
            line-height: 3.5rem;
            width: auto;
            text-align: center;
        }
        img {
            align-self: center;
            height: 6rem;
            cursor: pointer;
        }
        &-competitor-zone {
            font-size: 4.5rem !important;
        }
        &-outlet {
            &.open {
                transform: translateX(-100vw);
            }
        }
        &-footer {
            p {
                font-size: 2rem;
            }
        }
        &-user {
            label {
                font-size: 4rem;
                span {
                    font-size: 4.5rem;
                }
            }
            button {
                &,
                &:link,
                &:visited {
                    line-height: 2.7rem;
                    font-size: 2.7rem;
                    padding: 0.7rem;
                }
            }
        }
        &-menu {
            padding: .5rem;
            &,
            &:link,
            &:visited {
                background-color: $color-grey-1;
                right: 3rem;
                top: 3rem;
                width: 8rem;
                height: 8rem;
                line-height: 1rem;
                border-radius: 1rem;
                font-size: 3rem;
                border: .3rem solid $color-primary;
                &:focus {
                    &:active {
                        border: .3rem solid $color-primary;
                        transform: translateY(3px);
                    }
                }
                &.open {
                    border: .3rem solid $color-white;
                    background: transparent;
                }
                &.open .navigator-menu-burger {
                    border: .3rem solid $color-white;
                }
                &.open .navigator-menu-burger-top {
                    transform: translateY(1.7rem) rotate(45deg)
                }
                &.open .navigator-menu-burger-bottom {
                    transform: translateY(-1.7rem) rotate(-45deg)
                }
            }
            &-burger {
                background: $color-primary;
            }
        }
    }
}

@media only screen and (min-width: $max-width-5) and (max-width: $max-width-4) {
    .navigator {
        width: 50rem;
        a {
            font-size: 3rem;
            line-height: 2rem;
        }
        img {
            height: 5rem;
            cursor: pointer;
        }
        &-competitor-zone {
            font-size: 4rem !important;
        }
        &-outlet {
            &.open {
                transform: translateX(-50rem);
            }
        }
        &-menu {
            padding: .5rem;
            &,
            &:link,
            &:visited {
                background-color: $color-grey-1;
                right: 3rem;
                top: 3rem;
                width: 7rem;
                height: 7rem;
                font-size: 3rem;
                border: .3rem solid $color-primary;
                &:focus {
                    &:active {
                        border: .3rem solid $color-primary;
                        transform: translateY(3px);
                    }
                }
                &.open {
                    background: transparent;
                    border: .3rem solid $color-white;
                }
                &.open .navigator-menu-burger {
                    border: .2rem solid $color-white;
                }
                &.open .navigator-menu-burger-top {
                    transform: translateY(1.5rem) rotate(45deg)
                }
                &.open .navigator-menu-burger-bottom {
                    transform: translateY(-1.5rem) rotate(-45deg)
                }
            }
            &-burger {
                background: $color-primary;
            }
        }
    }
}

@media only screen and (min-width: $max-width-4) and (max-width: $max-width-1) {
    .navigator {
        &-menu {
            padding: .5rem;
            &,
            &:link,
            &:visited {
                right: 3rem;
                top: 3rem;
                width: 6rem;
                height: 6rem;
                font-size: 3rem;
                border: .3rem solid $color-primary;
                &.open {
                    border: .3rem solid $color-white;
                }
                &.open .navigator-menu-burger {
                    border: .2rem solid $color-white;
                }
                &.open .navigator-menu-burger-top {
                    transform: translateY(1.2rem) rotate(45deg)
                }
                &.open .navigator-menu-burger-bottom {
                    transform: translateY(-1.2rem) rotate(-45deg)
                }
            }
        }
    }
}

.cookies {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: 50rem;
    max-width: 90%;
    min-height: 30rem;
    background: linear-gradient(45deg, $color-grey-4, $color-grey-1);
    border-radius: 3rem;
    z-index: 999;
    padding: 2rem;
    animation: pulse-yellow 5s infinite;
    box-shadow: 0 0 5rem $color-grey-2, inset 0 0 2rem $color-grey-2;
    &>div {
        width: 100%;
        height: min-content;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        i {
            align-self: center;
            color: rgb(151, 87, 49);
            font-size: 10rem;
        }
        p {
            text-align: center;
            font-size: 2rem;
        }
    }
}

@keyframes pulse-yellow {
    0% {
        border: 5px solid $color-grey-1;
    }
    50% {
        border: 5px solid $color-primary;
    }
    100% {
        border: 5px solid $color-grey-1;
    }
}