@import '../../../scss/colors';
@import '../../../scss/variables';
.scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.referee {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    &-header {
        width: 100%;
        height: max-content;
        padding: 1rem;
        padding-bottom: 0;
        justify-content: center;
        align-items: center;
        border-bottom: .2rem dashed rgba($color-grey-0, 0.5);
    }
    &-categories {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-bottom: .2rem dashed rgba($color-grey-0, 0.5);
        padding: 1rem 0;
        &-header {
            height: 100%;
            border: none !important;
            padding: 0 !important;
            flex-direction: row !important;
        }
        &:first-child {
            padding-top: 0 !important;
        }
        &-active {
            color: $color-primary !important;
            border: 1px solid $color-primary !important;
        }
        label {
            font-size: 2rem;
            color: rgba($color-grey-0, 0.5);
            padding-right: 1rem;
        }
        span {
            padding: .8rem 0;
            font-size: 2rem;
        }
        button {
            &,
            &:link,
            &:visited {
                text-transform: uppercase;
                cursor: pointer;
                transition: all ease-out 0.1s, box-shadow ease-in 0.4s, background-position ease-in 0.2s;
                text-decoration: none;
                margin: 1rem;
                padding: .7rem;
                font-size: 1.5rem;
                border: 1px solid $color-grey-0;
                color: $color-grey-0;
                border-radius: 1rem;
                background: transparent;
            }
            &:focus {
                outline: none;
                &:active {
                    transform: translateY(3px);
                }
            }
            &:hover {
                color: $color-primary;
                border: 1px solid $color-primary;
            }
        }
    }
    &-results {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: min-content;
        overflow-y: auto;
        border-top: none !important;
        div {
            height: min-content;
        }
        &-times {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            // overflow-y: auto;
            height: min-content;
            &-best {
                font-size: 3rem;
                font-family: 'Goldman';
                text-align: center;
                span {
                    color: $color-primary;
                }
                b {
                    font-size: 2rem;
                    color: rgba($color-white, 0.7);
                    font-family: 'Jura';
                }
            }
            &>span {
                padding: .8rem 0;
                font-size: 2rem;
            }
            button {
                height: min-content;
                padding: 1rem !important;
                justify-content: center;
                align-items: center;
                width: max-content;
            }
            &-element {
                margin: 1rem 0;
                border: 3px solid $color-grey-1;
                height: min-content;
                width: 100%;
                border-radius: 2rem;
                background: #252525c2;
                transition: all .3s;
                overflow: hidden;
                box-shadow: inset 5px 5px 10px #14141498, inset -5px -5px 10px #3f3f3fdf;
                &:hover {
                    span:nth-child(4),
                    span:last-child {
                        color: $color-primary;
                        border-bottom: 1px dashed $color-primary;
                    }
                    border: 3px solid rgba($color-primary, 0.7);
                }
                display: grid;
                grid-template-rows: max-content;
                grid-template-columns: min-content minmax(min-content, 35rem) 2fr max-content;
                padding: 1rem 2rem;
                cursor: pointer;
                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    grid-row: 1;
                    grid-column: 2;
                    align-self: center;
                }
                &-id {
                    line-height: 2.2rem;
                    color: $color-grey-0;
                    justify-self: center;
                    align-self: center;
                    font-size: 1.5rem;
                    padding: 1rem;
                    padding-left: 0;
                    min-width: 3rem;
                }
                &-name {
                    text-align: left;
                    align-items: center;
                    line-height: 120%;
                    max-width: 33rem;
                    font-size: 3rem !important;
                    // transform: translateY(15%);
                    word-wrap: break-word;
                    font-family: 'Goldman';
                }
                &-uuid {
                    font-size: 1rem;
                    font-family: 'Goldman';
                    color: $color-primary;
                    align-items: center;
                    justify-self: left;
                    min-width: max-content;
                    // transform: translateY(-7%);
                }
                &-categories {
                    display: flex;
                    flex-direction: row;
                    color: $color-grey-0;
                    justify-content: space-around;
                    align-items: center;
                    justify-self: flex-end;
                    align-self: center;
                    font-size: 2rem;
                    // padding-right: 3rem;
                    p {
                        // font-weight: 100;
                        font-size: 2.3rem !important;
                        font-family: $title-font;
                        font-weight: bold !important;
                        color: $color-white;
                    }
                }
                &-edit {
                    transition: all .3s;
                    font-family: $title-font;
                    align-items: center;
                    line-height: normal;
                    color: rgba($color-grey-0, 0.5);
                    font-size: 1.5rem;
                    grid-column: 4;
                    grid-row: 1;
                    align-self: center;
                    border-bottom: 1px dashed rgba($color-grey-0, 0.5);
                    padding-bottom: .4rem;
                    i {
                        padding-left: .5rem;
                    }
                    &-form {
                        grid-column: 4;
                        grid-row: 1;
                        display: flex;
                        flex-direction: row;
                        button {
                            width: 5rem;
                            height: 5rem;
                            margin: 1rem !important;
                            margin-bottom: 2rem !important;
                            border-radius: 1rem !important;
                            font-size: 2.5rem !important;
                            justify-self: center;
                            align-self: center;
                        }
                        &-button-red {
                            // margin: 0;
                            background: linear-gradient(#e02727, #cf1616) !important;
                            color: white;
                            box-shadow: 0 0.2rem 2.3rem rgb(207 22 22 / 70%);
                            &:hover {
                                box-shadow: 0 0.2rem 3rem red;
                            }
                            height: min-content;
                        }
                    }
                }
            }
        }
        &-fights {
            display: flex;
            flex-direction: column;
            justify-content: flex;
            align-items: center;
            // overflow-y: auto;
            // overflow-y: auto;
            height: min-content;
            min-height: max-content;
            &>span {
                padding: .8rem 0;
                font-size: 2rem;
            }
            button {
                height: min-content;
                padding: 1rem !important;
                justify-content: center;
                align-items: center;
                width: max-content;
            }
            &-element {
                margin: 1rem 0;
                border: 3px solid $color-grey-1;
                height: min-content;
                width: 100%;
                border-radius: 2rem;
                background: #252525c2;
                transition: all .3s;
                box-shadow: inset 5px 5px 10px #14141498, inset -5px -5px 10px #3f3f3fdf;
                display: grid;
                grid-template-rows: max-content;
                grid-template-columns: min-content 1fr min-content 1fr max-content;
                padding: 1rem;
                overflow: hidden;
                cursor: pointer;
                &:hover {
                    span:nth-child(5),
                    span:last-child {
                        color: $color-primary;
                        border-bottom: 1px dashed $color-primary;
                    }
                    border: 3px solid rgba($color-primary, 0.7);
                }
                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: flex-start;
                    align-self: center;
                    &-1 {
                        grid-column: 2;
                        // padding-left: 1rem;
                    }
                    &-2 {
                        grid-column: 4;
                        align-items: flex-end !important;
                        padding-right: 2rem;
                    }
                }
                &-id {
                    line-height: 2.2rem;
                    color: $color-grey-0;
                    justify-self: center;
                    align-self: center;
                    font-size: 2rem;
                    padding: 1rem;
                    padding-left: 0;
                    grid-column: 1;
                    min-width: 3rem;
                }
                &-vs {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    justify-self: center;
                    align-self: center;
                    span {
                        line-height: 2rem;
                        font-size: 2rem;
                        color: $color-grey-0;
                    }
                    label {
                        line-height: 3rem;
                        font-size: 5rem;
                        font-weight: bold;
                    }
                    &-win {
                        color: green;
                    }
                    &-lose {
                        color: red;
                    }
                }
                &-name {
                    text-align: left;
                    align-items: center;
                    line-height: 120%;
                    max-width: 33rem;
                    font-size: 4rem !important;
                    // transform: translateY(15%);
                    word-wrap: break-word;
                    font-family: $title-font;
                }
                &-uuid {
                    font-size: 1.5rem !important;
                    color: $color-primary;
                    align-items: center;
                    justify-self: left;
                    min-width: max-content;
                    font-family: $title-font;
                    // transform: translateY(-7%);
                }
                &-edit {
                    grid-column: 5;
                    transition: all .3s;
                    font-family: $title-font;
                    align-items: center;
                    line-height: normal;
                    color: rgba($color-grey-0, 0.5);
                    font-size: 1.5rem;
                    grid-row: 1;
                    align-self: center;
                    border-bottom: 1px dashed rgba($color-grey-0, 0.5);
                    // padding-bottom: .4rem;
                    i {
                        padding-left: .5rem;
                    }
                }
                &-details {
                    border-top: 1px solid rgba($color-grey-0, $alpha: .35);
                    // padding-left: 3rem;
                    margin-top: 1rem;
                    padding-top: .4rem;
                    grid-row: 2;
                    grid-column: 1/6;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &-flex {
                        padding: .5rem;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        &-piece {
                            padding: .5rem 1rem;
                            display: inline-block;
                            width: max-content;
                            font-weight: 400;
                            font-size: 1.2rem;
                            label {
                                letter-spacing: .1rem;
                                // font-size: 2rem !important;
                                font-family: $default-font !important;
                                font-weight: 400 !important;
                                &:last-child {
                                    font-size: 1.4rem;
                                    font-weight: bold !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.scroll {
    min-height: max-content;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

@media only screen and (max-width: $max-width-2) {
    .referee {
        &-results {
            &-fights {
                &-element {
                    &-info {
                        width: 100%;
                    }
                    display: flex;
                    flex-direction: column;
                    &-id {
                        width: 100%;
                        text-align: left;
                    }
                    &-vs {
                        margin: 2rem 0;
                    }
                    &-edit {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}

// @media only screen and (max-width: $max-width-5) {
//     .referee {
//         &-results {
//             &-times {
//                 &-element {
//                     &-id {
//                         width: 100%;
//                         text-align: left;
//                     }
//                     &-categories {
//                         justify-content: flex-end;
//                         align-items: flex-end;
//                         width: 100%;
//                         // p {
//                         //     width: 100%;
//                         //     text-align: right;
//                         // }
//                     }
//                     display: flex;
//                     flex-direction: column;
//                 }
//             }
//         }
//     }
// }
