@import '../../scss/colors';
@import '../../scss/variables';
.top {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    min-height: 9rem;
}

.collapsed {
    padding-bottom: 2rem;
    min-height: 5rem;
}

.form {
    position: relative;
    width: 100%;
    min-width: 30rem;
    height: 5.5rem;
    min-height: 5.5rem;
    transition: all 200ms ease-in;
    &__select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $color-grey-0;
        border-radius: 2rem;
        font-family: $title-font;
        font-size: 2rem;
        color: white;
        outline: none;
        padding: 1.25rem;
        background: $color-grey-1;
        transition: all 200ms ease-in;
        &:hover {
            border-color: $color-white;
        }
        &:focus {
            border-color: $color-primary;
        }
        &-invalid {
            transition: all 200ms ease-in;
            border-color: $color-invalid !important;
            background-image: linear-gradient(45deg, transparent 50%, $color-invalid 50%), linear-gradient(135deg, $color-invalid 50%, transparent 50%) !important;
            background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
        }
    }
    &__label {
        position: absolute;
        font-weight: bold;
        letter-spacing: .1rem;
        left: 1rem;
        top: 30%;
        padding: 0 0.8rem;
        color: $color-grey-0;
        cursor: text;
        transition: all 200ms ease-in;
        background-color: $color-grey-1;
        font-size: 2rem;
        line-height: 100%;
        pointer-events: none;
        &-invalid {
            transition: all 200ms ease-in;
            color: $color-invalid !important;
        }
    }
    select {
        // line-height: ;
        outline: none;
        transition: all 200ms ease-in;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        option {
            background-color: $color-grey-1;
        }
        option:checked {
            font-weight: bold;
        }
    }
    select:focus {
        transition: all 200ms ease-in;
        background-image: linear-gradient(45deg, $color-primary 50%, transparent 50%), linear-gradient(135deg, transparent 50%, $color-primary 50%);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-repeat: no-repeat;
        outline: 0;
    }
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

.errors {
    left: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: .3rem;
    span {
        font-size: 1.7rem;
        font-family: $default-font;
        color: $color-invalid;
        line-height: 2.1rem;
        margin-left: 1rem;
        // margin-bottom: 2rem;
    }
}

.selected,
.form__select:focus~.form__label {
    transition: all 200ms ease-in;
    color: $color-primary;
}

.selected,
.form__select:hover.form__select:not(:focus)~.form__label {
    transition: all 200ms ease-in;
    color: $color-white;
}

.form__select:hover.form__select:not(:focus) {
    transition: all 200ms ease-in;
    background-image: linear-gradient(45deg, transparent 50%, $color-white 50%), linear-gradient(135deg, $color-white 50%, transparent 50%);
}

.selected,
.form__select:not(:checked).form__select:focus~.form__label {
    transition: all 200ms ease-in;
    top: -0.5rem;
    font-size: 1.6rem;
    left: 1rem;
}

.choosed {
    border-color: $color-white;
}

.choosed.form__select:not(:focus) {
    background-image: linear-gradient(45deg, transparent 50%, $color-white 50%), linear-gradient(135deg, $color-white 50%, transparent 50%);
}

// .choosed {}

/* Change autocomplete styles in WebKit */

textarea:-webkit-autofill,
select:-webkit-autofill {
    border: 1px solid white;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px $color-grey-1 inset;
    transition: background-color 5000s ease-in-out 0s;
}