@import '../task-challenge/task-challenge.component.scss';
// @import '../../../scss/colors';
.category {
    &-title {
        background: radial-gradient(100% 100% at 50% 0%, rgba($color-sb, 1) 0%, transparent 100%);
    }
}

.competitions {
    &-grid {
        &-card {
            &--front {
                button {
                    &,
                    &:link,
                    &:visited {
                        box-shadow: 0 0.2rem 2rem rgba($color-sb, 0.5);
                        background: linear-gradient($color-sb 60%, $color-sb-dark 100%);
                    }
                    &:hover {
                        box-shadow: 0 0.2rem 3rem rgba($color-sb, 0.7);
                    }
                }
            }
            &--back {
                button {
                    &,
                    &:link,
                    &:visited {
                        color: $color-sb;
                        border: .2rem solid $color-sb;
                    }
                }
            }
        }
    }
}

.swiper {
    width: 100vw;
    height: 50rem;
    background-color: $color-sb;
}

.gallery {
    // background-color: $color-grey-3;
    width: 100%;
    padding: 10rem 0rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 48rem !important;
        padding: 1rem .5rem;
        transition: .5s all;
        filter: grayscale(1);
    }
    &-color {
        filter: grayscale(0) !important;
    }
    span {
        width: 100%;
        text-align: right;
        font-family: $title-font;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        padding: 3rem 5%;
        cursor: pointer;
    }
}