<dialog id="customDialog">
    <div class="dialog-content">
        <!-- <button autofocus class="dialog-close-btn" (click)="closeModal()">Close</button> -->
        <div class="form"><input type="text" id="barcode" class="form__input" placeholder="Barcode" type="text" name="barcode"></div>
        <button class="submit-button" style="margin: 0;" (click)="closeModal()">SZUKAJ</button>
    </div>
</dialog>

<div class="top" [formGroup]="group" [ngClass]="{'collapsed': collapsed}">
    <div class="form">
        <input type="text" [id]="controlName" class="form__input" [autocomplete]="controlName" [placeholder]="placeholder" [ngClass]="{'form__input-invalid': isFormInvalid && !isDisabled, 'form__input-disabled': isDisabled, 'form__input__barcode-offset': showBarcodeIcon}"
            [formControlName]="controlName" [type]="type ? type : isControlPassword ? 'password' : 'text'" [name]="controlName" (focus)="updateActiveInput()">
        <i *ngIf="showBarcodeIcon" class="las la-barcode form__input__barcode" (click)="showModal()"></i>
        <!-- <button class=" form__input__barcode " #show>Show dialog</button> -->
        <label [for]="controlName " class="form__label " [ngClass]="{ 'form__label-invalid': isFormInvalid && !isDisabled} ">{{('controls.'+controlName+'.name') | translate}}</label>
    </div>
    <div class="errors " *ngIf="isFormInvalid ">
        <span *ngFor="let error of getErrors ">{{('controls.'+controlName+'.validators.'+error) | translate}}</span>
    </div>
</div>
