<div class="container">
    <app-header [pageName]="'menu.competitor-zone'"></app-header>
    <div class="competitor">
        <h3 class="section-header">{{'competitor-zone.reset-password.title' | translate}}</h3>
        <div class="competitor-form" (keydown)="enterSubmit($event)">
            <p>{{'competitor-zone.reset-password.info' | translate}}</p>
            <app-input [group]="form" controlName="password"></app-input>
            <app-input [group]="form" controlName="repeatPassword"></app-input>
            <button class="submit-button" [disabled]="!isFormGroupValid" (click)="onSubmit()">{{'competitor-zone.reset-password.sign-in' | translate}}</button>
        </div>
    </div>
</div>