<div class="container">
    <app-header [pageName]="'menu.competitor-zone'"></app-header>
    <div class="competitor">
        <h3 class="section-header">{{'competitor-zone.forgot-password.title' | translate}}</h3>
        <div class="competitor-form" (keydown)="enterSubmit($event)">
            <ng-container *ngIf="!sended">
                <p>{{'competitor-zone.forgot-password.info' | translate}}</p>
                <app-input [group]="form" controlName="email"></app-input>
                <button class="submit-button" [disabled]="!isFormGroupValid" (click)="onSubmit()">{{'competitor-zone.forgot-password.sign-in' | translate}}</button>
            </ng-container>
            <ng-container *ngIf="sended">
                <p style="margin: 0rem;">{{'competitor-zone.forgot-password.sended.1' | translate}}<b>{{email}}</b>{{'competitor-zone.forgot-password.sended.2' | translate}}</p>
            </ng-container>
        </div>
    </div>
</div>