<div class="router-child">
    <div class="main">
        <section class="top top-grid">
            <div>
                <a>{{'competitor-zone.settings.user'  | translate}}</a>
                <label class="competitor-name">{{'competitor-zone.competitor.name' | translate}}<span>{{user?.imie}} {{user?.nazwisko}}</span></label>
                <p class="competitor-detail" *ngIf="user?.numer_telefonu">{{'competitor-zone.competitor.phone' | translate}}<span>{{userPhone}}</span></p>
                <p class="competitor-detail" *ngIf="user?.email">{{'competitor-zone.competitor.email' | translate}}<span>{{user?.email}}</span></p>
                <p class="competitor-detail" *ngIf="user?.stanowiska">{{'competitor-zone.competitor.positions' | translate}}<span>{{user?.stanowiska}}</span></p>
                <p class="competitor-detail" *ngIf="user?.kod_pocztowy">{{'competitor-zone.competitor.postal' | translate}}<span>{{user?.kod_pocztowy}}</span></p>
                <p class="competitor-detail" *ngIf="user?.data_rejestracji">{{'competitor-zone.competitor.registration' | translate}}<span>{{user?.data_rejestracji | date:'dd.MM.YYYY'}}</span></p>
                <p class="competitor-detail" *ngIf="user?.kategorie && user.kategorie.length > 0">{{'competitor-zone.competitors.filters.categories' | translate}}<span *ngFor="let category of user.kategorie">{{category}}</span></p>
                <!-- <div *ngIf="userSerceice.isAdmin && user && !user.kod_pocztowy" class="postal">
                    <app-input [group]="formPostal" controlName="postal_code" [collapsed]="true"></app-input>
                    <button [disabled]="!isFormPostalCodeValid" class="submit-button" (click)="savePostalCode()"><i class="las la-save"></i></button>
                </div> -->
                <div class="uuid">
                    <span class="competitor-name">{{'menu.uuid' | translate}}</span>
                    <div (click)="copyUUID()" class="competitor-uuid">
                        <a>{{user?.uzytkownik_uuid}}</a>
                        <i class="las la-copy"></i>
                    </div>
                    <button (click)="esp32Service.writeRFIDTag(user.uzytkownik_id)" class="submit-button" style="color: white; display: flex; flex-direction:row; min-height: auto; line-height: auto !important; justify-content:center; align-items:center;">RFID<i class="las la-share-square" style="color: white;"></i><i class="las la-id-card" style="color: white;"></i></button>
                </div>
                <div class="row" *ngIf="userSerceice.isAdmin" style="margin-top: 2rem;">
                    <app-select [group]="formUserType" [collapsed]="true" controlName="user_type" translatePrefix="controls" [options]="userTypes"></app-select>
                    <button [disabled]="!isFormUserTypeValid || isLoading" class="submit-button" (click)="changeUserType()"><i class="las la-save"></i></button>
                </div>
            </div>
            <div [formGroup]="formMessage" *ngIf="userSerceice.isReferee && user && user.numer_telefonu">
                <textarea formControlName="message" placeholder="Wiadomość do użytkownika"></textarea>
                <button [disabled]="!isFormMessageValid" class="submit-button" (click)="sendMessage()">{{'competitor-zone.competitor.send' | translate}}</button>
            </div>
        </section>
        <!-- <section class="starterpack" *ngIf="user"> -->
        <section class="starterpack" *ngIf="user && authService.isEvent">
            <div class="row">
                <div [ngClass]="{'starterpack-given-true': user.czy_odebral_starterpack}">
                    <a>Starterpack</a>
                    <p class="competitor-detail competitor-deadline" *ngIf="isRegisteredAfterFirstDate">{{'competitor-zone.competitor.is_registered_after_first_date' | translate}}</p>
                    <div>
                        <p class="competitor-detail" *ngIf="user?.rozmiar_koszulki">{{'controls.tshirtSize.name' | translate}}:<span>{{tshirtSize}}</span></p>
                        <p class="competitor-detail" *ngIf="user?.preferowane_jedzenie">{{'controls.preferedFood.name' | translate}}:<span>{{foodOption}}</span></p>
                        <p class="competitor-detail">{{'competitor-zone.competitor.carer' | translate}}:<span><i *ngIf="user.czy_opiekun" class="las la-check"></i><i *ngIf="!user.czy_opiekun" class="las la-times"></i></span></p>
                    </div>
                </div>
                <button style="width: 100% !important;" *ngIf="!user.czy_odebral_starterpack" [disabled]="isLoadingStarterpack" class="submit-button" (click)="giveStarterpack()"><i class="las la-shopping-bag"></i></button>
                <div class="starterpack-given" *ngIf="user.czy_odebral_starterpack">
                    <i class="las la-shopping-bag"></i>
                    <label>{{'competitor-zone.competitor.starterpack-given' | translate}}</label>
                </div>
            </div>
        </section>
        <section class="position" *ngIf="user && user.uzytkownik_typ >= 2">
            <p style="margin: 0;">Obsługiwane stanowiska</p>
            <div class="grid-categories-new" *ngIf="userSerceice.isAdmin">
                <app-select *ngIf="positionsOptions !== undefined && !isLoadingReferee" [group]="formReferee" [collapsed]="true" controlName="position" translatePrefix="controls" [options]="positionsOptions"></app-select>
                <app-spinner *ngIf="positionsOptions === undefined || isLoadingReferee"></app-spinner>
                <button [disabled]="!isFormRefereeValid || isLoadingReferee" class="submit-button grid-button" (click)="onAddReferee()"><i class="las la-plus-circle"></i></button>
            </div>
            <div class="grid-categories-old-parent">
                <div *ngFor="let position of allReferePositions" class="grid-categories-old">
                    <div>
                        <i class="las la-chevron-right"></i>
                        <label>{{position.nazwa_stanowiska}}</label>
                    </div>
                    <button class="submit-button grid-button" *ngIf="userSerceice.isAdmin" (click)="onRemoveReferee(position)"><i class="las la-trash-alt" ></i></button>

                </div>
            </div>
        </section>
        <div class="grid">
            <!-- <div class="grid-categories competitor-container">
                <span>{{'competitor-zone.robot.categories' | translate}}</span>
                <div class="grid-categories-old-parent">
                    <div *ngFor="let cat of userCategories" class="grid-categories-old">
                        <div>
                            <i class="las la-chevron-right"></i>
                            <label>{{cat}}</label>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="grid-constructors competitor-container" *ngIf="user && user.uzytkownik_typ == 0">
                <span>{{'competitor-zone.competitor.robots' | translate}}</span>
                <div class="grid-categories-old-parent">
                    <div *ngFor="let robot of userRobots" class="grid-categories-old grid-constructors-user-parent" [ngClass]="{'grid-constructors-user-parent-clickable': userSerceice.isReferee}">
                        <div (click)="openRobotDetails(robot.robot_uuid)">
                            <i class="las la-chevron-left"></i>
                            <div class="grid-constructors-user">
                                <label class="competitor-uuid-small" [ngClass]="{'banned': robot.powod_odrzucenia != null}">{{robot.nazwa_robota}}<i class="las la-ban" [ngClass]="{'banned': robot.powod_odrzucenia != null}" *ngIf="robot.powod_odrzucenia"></i></label>

                                <a>{{robot.robot_uuid}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>