@import '../src/app/scss/colors';
@import '../src/app/scss/variables';
@import '../src/app/scss/toastr';
@import 'swiper/scss';
@import '~swiper/scss/navigation';
@import '~swiper/scss/pagination';
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: $max-width-1) {
    html {
        font-size: 62%;
    }
}

@media only screen and (max-width: $max-width-2) {
    html {
        font-size: 57%;
    }
}

@media only screen and (max-width: $max-width-3) {
    html {
        font-size: 52%;
    }
}

@media only screen and (max-width: $max-width-4) {
    html {
        font-size: 47%;
    }
}

@media only screen and (max-width: $max-width-5) {
    html {
        font-size: 43%;
    }
}

@media only screen and (max-width: $max-width-7) {
    html {
        font-size: 40%;
    }
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    font-family: 'Jura', sans-serif;
    background-color: $color-grey-1;
    color: $color-white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: $color-grey-1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 5rem rgba($color-grey-5, 0.8);
}

.section-header {
    color: rgba($color-white, 0.6);
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    font-family: $title-font;
    letter-spacing: .5rem;
    z-index: 4;
    max-width: 80%;
    margin-bottom: 4rem;
}

.submit-button {
    &,
    &:link,
    &:visited {
        margin: 2rem;
        line-height: 1.8rem;
        border-radius: 5rem;
        box-shadow: 0 0.2rem 2rem rgba($color-primary, 0.5);
        font-size: 2rem;
        padding: 1.8rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: all ease-out 0.1s, box-shadow ease-in 0.4s, background-position ease-in 0.2s;
        text-decoration: none;
        font-family: $default-font;
        background: linear-gradient($color-primary-dark 0%, $color-primary 50%, $color-grey-3 75%, $color-grey-5 100%);
        background-size: 100% 400%;
        background-position: 100% 0%;
        &:hover:not(:disabled) {
            box-shadow: 0 0.2rem 3rem rgba($color-primary, 0.7);
        }
    }
    &:focus {
        outline: none;
        &:active {
            transform: translateY(3px);
        }
    }
    &:disabled {
        box-shadow: none;
        opacity: 0.5;
        color: $color-white;
        // background: linear-gradient($color-grey-0 60%, $color-grey-1 100%);
        background-position: 100% 99%;
        cursor: not-allowed;
    }
}

.goldman {
    font-family: 'Goldman', cursive;
}

.jura {
    font-family: 'Jura', sans-serif;
}

.router-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    // overflow-y: auto;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $color-grey-4;
}

::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: .3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: $color-primary-dark;
}