<div class="container category">
    <section class="category-title" data-aos-duration="700" data-aos="fade">
        <div data-aos-duration="1000" data-aos="slide-down" data-aos-delay="300">
            <h2 style="display: none;">ROBO~motion</h2>
            <img src="../../../../assets/svg/robomotion_logo.svg">
        </div>
        <p data-aos-duration="700" data-aos="zoom-out" data-aos-delay="700">{{'home.categories.robomotion.description' | translate}}</p>
    </section>
    <section class="description">
        <div class="description-title" data-aos="slide-right" data-aos-duration="700">
            <h5>{{'home.categories.robomotion.statistics.title.1' | translate}}<br><b>ROBO~motion</b><br>{{'home.categories.robomotion.statistics.title.2' | translate}}</h5>
            <img src="../../../../assets/svg/calculate.svg">
        </div>
        <div class="description-grid">
            <div class="description-grid-tile" data-aos-duration="300" data-aos="zoom-out" data-aos-delay="0">
                <label>416</label>
                <p>{{'home.categories.robomotion.statistics.subtitles.fights' | translate}}</p>
            </div>
            <div class="description-grid-tile" data-aos-duration="300" data-aos="zoom-out" data-aos-delay="100">
                <label>10 000+ PLN</label>
                <p>{{'home.categories.robomotion.statistics.subtitles.prizes' | translate}}</p>
            </div>
            <div class="description-grid-tile" data-aos-duration="300" data-aos="zoom-out" data-aos-delay="200">
                <label>8 {{'home.categories.robomotion.statistics.subtitles.hours' | translate}}</label>
                <p>{{'home.categories.robomotion.statistics.subtitles.time' | translate}}</p>
            </div>
            <div class="description-grid-tile" data-aos-duration="300" data-aos="zoom-out" data-aos-delay="300">
                <label>207</label>
                <p>{{'home.categories.robomotion.statistics.subtitles.robots' | translate}}</p>
            </div>
            <div class="description-grid-tile" data-aos-duration="300" data-aos="zoom-out" data-aos-delay="400">
                <label>313</label>
                <p>{{'home.categories.robomotion.statistics.subtitles.competitors' | translate}}</p>
            </div>
            <div class="description-grid-tile" data-aos-duration="300" data-aos="zoom-out" data-aos-delay="500">
                <label>84%</label>
                <p>{{'home.categories.robomotion.statistics.subtitles.positive' | translate}}</p>
            </div>
        </div>
    </section>
    <!-- <div class="competitions-bg"> -->

    <section id="competitions" class="competitions-bg">
        <div class="competitions">
            <h4 style="visibility: collapse;">KONKURENCJE: Smash Bots by RoboLAB, Freestyle, Robot Sprint, Line Follower, Micromouse, Cebula House, Sumo, LEGO Tug of War</h4>
            <h3 class="section-header">{{'home.competitions.title' | translate}}</h3>
            <div class="competitions-grid" id="competitions-scroll">
                <div class="competitions-grid-card-container" *ngFor="let category of categories; index as i;" (mouseenter)="pauseScrolling(true)" (mouseleave)="pauseScrolling(false)" (scroll)="pauseScrolling(false)">
                    <div class="competitions-grid-card">
                        <div class="competitions-grid-card-style competitions-grid-card--front">
                            <img [src]="'../../assets/gifs/' + category.icon" [alt]="category.name" class="competitions-grid-card--front-img" [id]="'comp-'+i">
                            <label>{{category.name}}</label>
                            <button (click)="flipCard($event, 'back')">{{'home.competitions.learn' | translate}}</button>
                        </div>
                        <div class="competitions-grid-card-style competitions-grid-card--back">
                            <button (click)="flipCard($event, 'front')">X</button>
                            <p>{{category.description}}</p>
                            <span (click)="openUrl(category.linkToRegulation)">
                            {{'home.competitions.regulations' | translate}}
                          <i class="las la-file-alt"></i>                      </span>
                            <span *ngIf="category.id === 4" (click)="openUrl('https://xchallenge.pl/regulations/ROBOmotion_2024_Drag_Race.pdf')">
                            DRAG {{'home.competitions.regulations' | translate}}
                          <i class="las la-file-alt"></i>                      </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <a>{{'competitor-zone.categories.join' | translate}} >></a> -->
    </section>
    <!-- </div> -->
</div>