<div class="container">
    <!-- INTRO -->
    <section class="paralax paralax-background">
        <div class="paralax-name-container paralax-name-container-margin" data-aos-duration="1000" data-aos="zoom-in">
            <img src="../../assets/svg/x-logo.svg" class="paralax-name-img" alt="logo XChallenge">
            <h2 class="paralax-name">
                Challenge
            </h2>
        </div>
        <div class="paralax-wave paralax-wave-green"></div>
        <div class="paralax-wave"></div>
    </section>
    <!-- DESCRIPTION -->
    <section class="event-info" id="home">
        <!-- <button (click)="testLocalhost()">ASD</button> -->
        <h3 style="visibility: collapse;">Międzynarodowe zawody robotów XChallenge</h3>
        <h3 style="visibility: collapse;">już 25.11.2022 na Hali Podpromie</h3>
        <h4 style="visibility: collapse;">Uczestnicy będą mogli zmierzyć się w aż 8 kategoriach. Organizatorzy przygotowali areny do zmagań na torach dla LineFollower’ów czy walk Sumo. Sam tor w kategorii LF przetestuje umiejętności programistyczne i konstrukcyjne wielu robotyków. Oprócz
            standardowych konkurencji organizatorzy przygotowali wiele niespodzianek. Każdy konstruktor niezależnie czy dopiero zaczyna przygodę z elektroniką czy jest już doświadczony na pewno znajdzie coś dla siebie. Nie zabraknie także konkurencji
            dedykowanych fanom marki LEGO.</h4>
        <h4 style="visibility: collapse;">Participants will be able to compete in as many as 8 categories. The organizers prepared the arenas for the struggle on the tracks for LineFollowers or Sumo fights. The track itself in the LF category will test the programming and construction
            skills of many robotics. In addition to the standard competitions, the organizers have prepared many surprises. Every constructor, regardless of whether he is just starting his adventure with electronics or is already experienced, will surely
            find something for himself. There will also be competition dedicated to LEGO fans.</h4>
        <h3 class="section-header" *ngIf="timeToEvent">{{timeIsUp ? streamLink === undefined ? ('home.event-info.status.ended' | translate) : ('home.event-info.status.live' | translate) : ('home.event-info.status.coming' | translate)}}</h3>
        <div class="iframe-container" *ngIf="timeIsUp && streamLink !== undefined">
            <iframe src="" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            <iframe [src]="streamLink" target="_top" title="ROBOmotion Livestream" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- <a class="stream" target="_blank" href="https://www.twitch.tv/robomotion2021">STREAM Z ROZGRYWKI</a> -->

        <button [routerLink]="['/results']" *ngIf="timeIsUp">{{'home.event-info.results' | translate}}</button>
        <div class="event-info-counter" *ngIf="!timeIsUp && timeToEvent" data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 'd'}}
                </p>
                <p class="event-info-counter-part--name">
                    {{'home.event-info.time.days' | translate}}
                </p>
            </div>
            <p class="event-info-counter-part--number event-info-counter-delimeter">
                :
            </p>
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 'h'}}
                </p>
                <p class="event-info-counter-part--name">
                    {{'home.event-info.time.hours' | translate}}
                </p>
            </div>
            <p class="event-info-counter-part--number event-info-counter-delimeter">
                :
            </p>
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 'm'}}
                </p>
                <p class="event-info-counter-part--name">
                    {{'home.event-info.time.minutes' | translate}}
                </p>
            </div>
            <p class="event-info-counter-part--number event-info-counter-delimeter">
                :
            </p>
            <div class="event-info-counter-part">
                <p class="event-info-counter-part--number">
                    {{timeToEvent | msTransform: 's'}}
                </p>
                <p class="event-info-counter-part--name">
                    {{'home.event-info.time.seconds' | translate}}
                </p>
            </div>
        </div>
        <div class="event-info-details" data-aos="fade-in" data-aos-duration="1000">
            <div class="event-info-details-name">
                <div class="paralax-name-container" data-aos="zoom-out-right" data-aos-delay="500">
                    <img src="../../assets/svg/x-logo.svg" class="paralax-name-img-small" alt="logo XChallenge">
                    <h2 class="paralax-name paralax-name-small">
                        Challenge
                    </h2>
                </div>
                <h3 class="event-info-details-name-date" data-aos="zoom-out-right" data-aos-delay="500">
                    {{'home.event-info.university.hall' | translate}}
                    <br> {{'home.event-info.university.name' | translate}}
                    <br> <br><span class="event-info-details-name-date-big">{{getEventDateDay}}-{{getEventDateDay+1}}.{{ getEventDate | date: 'MM.YYYY'}}</span>
                </h3>
            </div>
            <div class="event-info-details-description" data-aos="zoom-out-left" data-aos-delay="500">
                <p>
                    {{'home.event-info.details' | translate}}
                </p>
            </div>
        </div>
        <label class="event-info-details-main">
          <a style="cursor: pointer" target="_blank">{{'home.event-info.important.3' | translate}}</a>
          <br><br><br>
          <br><br><br>
          <br><br><br>
          <a style="cursor: pointer" target="_blank"  href="https://xchallenge.pl/timetable">{{'home.event-info.important.1' | translate}}</a>
          <br><br><br>
          <a style="cursor: pointer" target="_blank" href="https://bit.ly/xchallengeTH22rules">{{'home.event-info.important.2' | translate}}</a>
            <!-- <a [routerLink]="['/app-rules']">{{'home.event-info.covid.2' | translate}}</a>
            {{'home.event-info.covid.3' | translate}} -->
        </label>
        <!-- <ng-container *ngIf="!timeIsUp">
            <a class="event-info-choose" href="https://forms.office.com/r/6aN4DYgAZ4" target="_blank">{{'home.event-info.important-choose' | translate}}<i class="las la-external-link-alt"></i></a>
            <p *ngIf="!timeIsUp2 && timeLeft" [routerLink]="['/login']">{{'home.event-info.open' | translate}}</p>
            <ng-container *ngIf="switcher">
                <div class="event-info-counter-end" *ngIf="timeLeft && !timeIsUp2">
                    <p>{{'competitor-zone.bar.time-left' | translate}}</p>
                    <div [ngClass]="{'event-info-counter-end-ending': isLessThanWeek}">
                        <label>
                            {{timeLeft | msTransform: 'd'}}<span> {{'home.event-info.time.days' | translate}}</span>
                        </label>
                        <span>
                            :
                        </span>
                        <label>
                            {{timeLeft | msTransform: 'h'}}<span> {{'home.event-info.time.hours' | translate}}</span>
                        </label>
                        <span>
                            :
                        </span>
                        <label>
                            {{timeLeft | msTransform: 'm'}}<span> {{'home.event-info.time.minutes' | translate}}</span>
                        </label>
                        <span>
                            :
                        </span>
                        <label>
                            {{timeLeft | msTransform: 's'}}<span> {{'home.event-info.time.seconds' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="event-info-counter-end" *ngIf="timeIsUp2">
                    <p>
                        {{'competitor-zone.bar.time-up' | translate}}
                    </p>
                    <div>
                        <label>
                            &nbsp;
                        </label>
                    </div>
                </div>

            </ng-container>
            <ng-container *ngIf="!switcher">
                <div class="event-info-counter-end" *ngIf="timeLeftSmashBots && !timeIsUpSmashBots">
                    <p>{{'competitor-zone.bar.time-left-sb' | translate}}</p>
                    <div [ngClass]="{'event-info-counter-end-ending': isLessThanWeekSmashBots}">
                        <label>
                            {{timeLeftSmashBots | msTransform: 'd'}} <span>{{'home.event-info.time.days' | translate}}</span>
                        </label>
                        <span>
                            :
                        </span>
                        <label>
                            {{timeLeftSmashBots | msTransform: 'h'}} <span>{{'home.event-info.time.hours' | translate}}</span>
                        </label>
                        <span>
                            :
                        </span>
                        <label>
                            {{timeLeftSmashBots | msTransform: 'm'}} <span>{{'home.event-info.time.minutes' | translate}}</span>
                        </label>
                        <span>
                            :
                        </span>
                        <label>
                            {{timeLeftSmashBots | msTransform: 's'}} <span>{{'home.event-info.time.seconds' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="event-info-counter-end" *ngIf="timeIsUpSmashBots">
                    <p>
                        {{'competitor-zone.bar.time-up-sb' | translate}}
                    </p>
                    <div>
                        <label>
                            &nbsp;
                        </label>
                    </div>
                </div>
            </ng-container>
        </ng-container> -->

        <!-- <a [href]="isEnglish === 'pl' ? 'https://rzit.smarthost.pl/robomotion/info-28-10-2021.pdf' : 'https://rzit.smarthost.pl/robomotion/info-28-10-2021-ang.pdf'" target="_blank">{{'home.event-info.important' | translate}}<i class="las la-external-link-alt"></i></a> -->
    </section>
    <h3 style="visibility: collapse; height: 0px">XChallange dąży do realizacji wielu kategorii zawodów na szczeblu międzynarodowym, gdzie zawodnicy będą mogli sprawdzić swoje umiejętności manualne oraz programistyczne. Zawody kierowane będą dla uczniów szkół średnich oraz studentów, lecz nie zabraknie
        również konkurencji dla młodszych i starszych uczestników. Zawody oferują nie tylko nagrody materialne, lecz również doświadczenie w postaci tajników techniki od osób z całego świata i nowe kontakty.</h3>
    <h3 style="visibility: collapse; height: 0px">XChallange aims to implement many categories of competitions at the international level, where competitors will be able to test their manual and programming skills. The competition will be directed to high school students and students, but there will
        also be competition for younger and older participants. The competition offers not only material prizes, but also experience in the form of technical secrets from people from all over the world and new contacts.</h3>
    <!-- <section class="event-program" id="programme">
        <div class="event-program-grid" *ngIf="!isMobile">
            <div class="event-program-grid-names">
                <div *ngFor="let event of eventsList" (click)="onSwitchEvent(event.id)" class="event-program-grid-names-arrow" [ngClass]="{'event-program-grid-names-arrow-disabled': selectedEventIndex != event.id}">
                    {{event.name}}
                </div>
            </div>
            <div class="event-program-grid-description" [@switch]="switchAnimationStateName">
                <div class="event-program-grid-description-header">
                    <i class="las" [ngClass]=iconOfSelectedEvent></i>
                </div>
                <p>
                    {{descriptionOfSelectedEvent}}
                </p>
            </div>
        </div>
        <div class="event-program-grid event-program-grid-mobile" *ngIf="isMobile">
            <div class="event-program-grid-mobile-names">
                <button (click)="onSwitchEvent(selectedEventIndex - 1)"><</button>
                <p>{{nameOfSelectedEvent}}</p>
                <button (click)="onSwitchEvent(selectedEventIndex + 1)">></button>
            </div>
            <div class="event-program-grid-description" [@switch]="switchAnimationStateName">
                <div class="event-program-grid-description-header">
                    <i class="las" [ngClass]=iconOfSelectedEvent></i>
                </div>
                <p>{{descriptionOfSelectedEvent}}</p>
            </div>
        </div>
    </section> -->
    <!-- COMPETITIONS -->
    <h4 style="visibility: hidden;  height: 0px">KONKURENCJE: Smash Bots by RoboLAB, Freestyle, Robot Sprint, Line Follower, Micromouse, Cebula House, Sumo, LEGO Tug of War</h4>
    <!-- <section class="competitions" id="competitions">
      <h3 class="section-header">{{'home.competitions.title' | translate}}</h3>
        <div class="competitions-grid" id="competitions-scroll">
            <div class="competitions-grid-card-container" *ngFor="let category of categories; index as i;" (mouseenter)="pauseScrolling(true)" (mouseleave)="pauseScrolling(false)" (scroll)="pauseScrolling(false)">
                <div class="competitions-grid-card">
                    <div class="competitions-grid-card-style competitions-grid-card--front">
                        <img [src]="'../../assets/gifs/' + category.icon" [alt]="category.name" class="competitions-grid-card--front-img" [id]="'comp-'+i">
                        <label>{{category.name}}</label>
                        <button (click)="flipCard($event, 'back')">{{'home.competitions.learn' | translate}}</button>
                    </div>
                    <div class="competitions-grid-card-style competitions-grid-card--back">
                        <button (click)="flipCard($event, 'front')">X</button>
                        <p>{{category.description}}</p>
                        <span (click)="openUrl(category.linkToRegulation)">
                          {{'home.competitions.regulations' | translate}}
                        <i class="las la-file-alt"></i>                      </span>
                        <span *ngIf="category.id === 4" (click)="openUrl('https://bit.ly/robomotion21dr')">
                          DRAG {{'home.competitions.regulations' | translate}}
                        <i class="las la-file-alt"></i>                      </span>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- NEWS -->
    <section class="news" id="news">
        <h3 class="section-header">{{'home.news.title' | translate}}</h3>
        <!-- <p class="news-one" data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-center">{{'home.news.register' | translate}}</p> -->
        <div class="timeline">
            <div class="timeline-outer">
                <div class="timeline-card" *ngFor="let point of dateList; let i = index" [id]="'border'+i">
                    <div data-aos-duration="1000" data-aos="zoom-in" [id]="'card'+point.id">
                        <div class="timeline-info" data-aos-duration="1000" data-aos="zoom-in">
                            <h3 *ngIf="i%2==1" class="timeline-title" [ngClass]="{'timeline-title-before': isDateBefore(point.date)}">{{point.printedDate}}<br><span>{{point.title | translate}}</span></h3>
                            <h3 *ngIf="i%2==0" class="timeline-title" [ngClass]="{'timeline-title-before': isDateBefore(point.date)}"><span>{{point.title | translate}}</span><br>{{point.printedDate}}</h3>
                            <div [ngClass]="{'timeline-info-before': isDateBefore(point.date)}">
                                <p *ngIf="point.title != 'home.news.points.now.title'">{{point.content | translate}}</p>
                                <p *ngIf="point.title == 'home.news.points.now.title' && point.date.getTime() < eventEndDate.getTime()">{{point.content+'.'+i | translate}}</p>
                                <p *ngIf="point.title == 'home.news.points.now.title' && point.date.getTime() > eventEndDate.getTime()">{{"home.news.points.now.content.4" | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-register" *ngIf="((isLessThanWeek) || (registerPercentageCompletion && registerPercentageCompletion > 80)) && ((timeLeft && timeLeft>0) && (registerPercentageCompletion && registerPercentageCompletion < 100))">
            <p>{{'home.news.register-limit.title' | translate}}</p>
            <article *ngIf="registerPercentageCompletion && registerPercentageCompletion > 80">{{'home.news.register-limit.body1' | translate : {registerPercentageCompletion: registerPercentageCompletion} }}</article>
            <article *ngIf="isLessThanWeek">{{'home.news.register-limit.body2' | translate : {days: getDaysToEndRegistration} }}</article>
        </div>
    </section>
    <!-- CATEGORIES -->
    <section class="categories" id="categories">
        <div class="categories-container">
            <div class="categories-container-day">
                <p class="category-day">{{getEventDateDay}}.{{ getEventDate | date: 'MM.YYYY'}}</p>
                <div class="categories-container-day-row">
                    <div class="category category-tc" [routerLink]="['/task-hunters']" data-aos="fade-in" data-aos-duration="500" data-aos-delay="0">
                        <h4>Task<br>Hunters</h4>
                        <span>{{'home.categories.learn-more' | translate}}</span>
                    </div>

                </div>
            </div>
            <span></span>
            <div class="categories-container-day">
                <p class="category-day">{{getEventDateDay+1}}.{{ getEventDate | date: 'MM.YYYY'}}</p>
                <div class="categories-container-day-row">
                    <div class="category category-sb" [routerLink]="['/smash-bots']" data-aos="fade-in" data-aos-duration="500" data-aos-delay="500">
                        <h4>Smash<br>Bots</h4>
                        <span>{{'home.categories.learn-more' | translate}}</span>
                    </div>
                    <div class="category category-rm" [routerLink]="['/robomotion']" data-aos="fade-in" data-aos-duration="500" data-aos-delay="1000">
                        <h4 style="display: none;">ROBO~motion</h4>
                        <img src="../../assets/svg/robomotion_logo_black.svg" alt="Logo ROBO~motion">
                        <span>{{'home.categories.learn-more' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- GALLERY -->
    <section class="gallery" id="gallery">
        <h3 class="section-header">{{'home.gallery.title' | translate}}</h3>
        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let image of imageList">
                <img [src]="'../../assets/jpg/galerry/' + image" [alt]="image" class="gallery-image" data-aos="fade-in" data-aos-duration="500" data-aos-anchor-placement="center-bottom">
            </ng-template>
        </swiper>
        <!-- <span [routerLink]="['/gallery']">{{'home.gallery.view-more' | translate}}</span> -->
    </section>
    <!-- LOCATION -->
    <section class="location paralax" id="location">
        <h4 style="visibility: collapse;">Politechnika Rzeszowska</h4>
        <div class="location-wave location-wave-green"></div>
        <div class="location-wave"></div>
        <div class="location-grid">
            <img src="../../assets/svg/location.svg" alt="Hala Podpromie">
            <div class="location-grid-right" data-aos="zoom-out-left" data-aos-duration="1000">
                <h3 class="section-header">{{'home.location.title' | translate}}</h3>
                <h2>
                    {{'home.event-info.university.hall' | translate}} <br>
                    <span>{{'home.event-info.university.name' | translate}}</span><br>Podpromie 10 <br> 35-045 Rzeszów
                </h2>
                <button (click)="openUrl('https://www.google.pl/maps/place/Hala+Podpromie+w+Rzeszowie/@50.0294717,22.0005205,186m/data=!3m1!1e3!4m5!3m4!1s0x473cfa5520c2e047:0x1ea389b078344688!8m2!3d50.0293553!4d22.0005825')">{{'home.location.showOnMap' | translate}}
                  <i class="las la-map-marked-alt"></i>
                </button>
            </div>
        </div>
    </section>
    <h4 style="visibility: collapse;">Organizatorzy: Koło Naukowe Automatyków i Robotyków ROBO, Koło Naukowe Elektroniki i Technologii Informacyjnych, Fundacja Wspierania Edukacji przy Stowarzyszeniu Dolina Lotnicza, RoboLAB, Logo organizatora Polskie Towarzystwo Informatyczne Oddział
        Podkarpacki Podkarpacki
    </h4>
    <!-- PATREONS -->
    <section class="organizer" id="patreons">
        <h3 class="section-header">{{'home.patreons.organizer.title' | translate}}</h3>
        <!-- <div data-aos="slide-right" data-aos-duration="1000">
            <span>{{'home.patreons.organizer.name' | translate}}</span>
            <img src="../../assets/jpg/robo_white.png" alt="Logo organizatora ROBO">
            <div class="organizer-social">
                <p (click)="openUrl('https://www.facebook.com/rzeszowska.grupa.it')" class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p (click)="openUrl('https://www.instagram.com/rzeszowskagrupait/')" class="organizer-social-item organizer-social-item--ig"><i class="lab la-instagram"></i></p>
                <p (click)="openUrl('https://w.prz.edu.pl/')" class="organizer-social-item organizer-social-item--web"><i class="las la-globe-europe"></i></p>
            </div>
        </div>
        <div data-aos="slide-left" data-aos-duration="1000">
            <span>{{'home.patreons.organizer6.name' | translate}}</span>
            <img src="../../assets/jpg/kneiti.png" alt="Logo organizatora KNEITI">
            <div class="organizer-social">
                <p (click)="openUrl('https://www.facebook.com/rzeszowska.grupa.it')" class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p (click)="openUrl('https://www.instagram.com/rzeszowskagrupait/')" class="organizer-social-item organizer-social-item--ig"><i class="lab la-instagram"></i></p>
                <p (click)="openUrl('https://w.prz.edu.pl/')" class="organizer-social-item organizer-social-item--web"><i class="las la-globe-europe"></i></p>
            </div>
        </div> -->
        <div data-aos="slide-right" data-aos-duration="1000">
            <!-- <span>{{'home.patreons.organizer5.name' | translate}}</span> -->
            <img src="../../assets/jpg/rzit.png" alt="Logo organizatora RzIT">
            <div class="organizer-social">
                <p (click)="openUrl('https://www.facebook.com/rzeszowska.grupa.it')" class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p (click)="openUrl('https://www.instagram.com/rzeszowskagrupait/')" class="organizer-social-item organizer-social-item--ig"><i class="lab la-instagram"></i></p>
                <p (click)="openUrl('https://rzit.pl/')" class="organizer-social-item organizer-social-item--web"><i class="las la-globe-europe"></i></p>
            </div>
        </div>
        <div data-aos="slide-left" data-aos-duration="1000">
            <!-- <h3 class="section-header">{{'home.patreons.organizer.title' | translate}}</h3> -->
            <!-- <span>{{'home.patreons.organizer2.name' | translate}}</span> -->
            <img [src]="'home.patreons.organizer2.src' | translate" alt="Logo organizatora Fundacja Wspierania Edukacji przy Stowarzyszeniu Dolina Lotnicza">
            <div class="organizer-social">
                <p (click)="openUrl('https://www.facebook.com/DolinaWiedzy')" class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p (click)="openUrl('https://www.instagram.com/dolina_wiedzy')" class="organizer-social-item organizer-social-item--ig"><i class="lab la-instagram"></i></p>
                <p (click)="openUrl('https://www.dolinawiedzy.pl')" class="organizer-social-item organizer-social-item--web"><i class="las la-globe-europe"></i></p>
            </div>
        </div>
        <div data-aos="slide-right" data-aos-duration="1000">
            <img src="../../assets/svg/pti.png" alt="Logo organizatora Polskie Towarzystwo Informatyczne Oddział Podkarpacki">
            <div class="organizer-social">
                <p (click)="openUrl('https://www.facebook.com/ZGPTI/')" class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p (click)="openUrl('https://www.linkedin.com/groups/23057?trk=prof-groups-membership-name')" class="organizer-social-item organizer-social-item--in"><i class="lab la-linkedin-in"></i></p>
                <p (click)="openUrl('https://pti.org.pl/')" class="organizer-social-item organizer-social-item--web"><i class="las la-globe-europe"></i></p>
            </div>
        </div>
        <!-- <div data-aos="slide-left" data-aos-duration="1000">
            <img src="../../assets/jpg/prz_pl.png" alt="Logo organizatora Politechnika Rzeszowska">
            <div class="organizer-social">
                <p (click)="openUrl('https://www.facebook.com/oficjalnypolitechnikarzeszowska')" class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p (click)="openUrl('https://www.instagram.com/politechnika_rzeszowska/')" class="organizer-social-item organizer-social-item--ig"><i class="lab la-linkedin-in"></i></p>
                <p (click)="openUrl('https://w.prz.edu.pl/')" class="organizer-social-item organizer-social-item--web"><i class="las la-globe-europe"></i></p>
            </div>
        </div> -->
        <div data-aos="slide-left" data-aos-duration="1000">
            <img src="../../assets/svg/RoboLAB-white.svg" alt="Logo organizatora RoboLAB">
            <div class="organizer-social">
                <p (click)="openUrl('https://www.facebook.com/RoboLAB.Polska')" class="organizer-social-item organizer-social-item--fb"><i class="lab la-facebook-f"></i></p>
                <p (click)="openUrl('https://robolab.edu.pl')" class="organizer-social-item organizer-social-item--web"><i class="las la-globe-europe"></i></p>
            </div>
        </div>
    </section>
    <section class="patreons">
        <h3 class="section-header">{{'home.patreons.title' | translate}}</h3>
        <ng-container *ngFor="let name of patreonNames; let i = index">
            <div class="patreons-class" [ngClass]="patreonClassPicker(i)" *ngIf="getAllPatreonsWithIndex(i).length > 0">
                <p class="patreons-name">{{name}}</p>
                <div class="patreons-class-container">
                    <div class="patreons-one" *ngFor="let patreon of getAllPatreonsWithIndex(i)" (click)="openUrl(patreon.linkToSite)" data-aos="fade" data-aos-duration="500">
                        <img [src]="patreon.image" alt="Logo partnera">
                        <p>{{patreon.description}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
        <p>{{'home.patreons.question' | translate}}</p>
        <img src="../../assets/jpg/unia.png">
    </section>
    <!-- FOOTER -->
    <section class="footer" id="contact">
        <div class="footer-contact">
            <a class="footer-contact-data-detail" href="tel:178886003">
                <img src="../../assets/svg/phone_icon.svg">
                <p>17 865 3004</p>
            </a>
            <a class="footer-contact-data-detail" href="mailto:robo@kneiti.prz.edu.pl?subject=&body=" target="_blank">
                <img src="../../assets/svg/email_icon.svg">
                <p>robo@kneiti.prz.edu.pl</p>
            </a>
            <a class="footer-contact-data-detail" href="https://www.facebook.com/xchallenge.poland" target="_blank">
                <img src="../../assets/svg/facebook_icon.svg">
                <p>XChallenge</p>
            </a>
        </div>
        <div class="footer-description">
            <div class="paralax-name-container">
                <img src="../../assets/svg/x-logo.svg" class="paralax-name-img-tiny" alt="logo-xchallenge">
                <h2 class="paralax-name paralax-name-tiny">
                    Challenge
                </h2>
            </div>
            <!-- <a></a> -->
            <p>
                {{'home.footer.copyright' | translate}} © {{getCurrnetYear}} - Rzeszowska Grupa IT | {{'home.footer.designed' | translate}} <span>{{'home.footer.developer' | translate}}</span>
            </p>
        </div>
    </section>
</div>
